@model CheckClikClient.Models.HomeImageDTO
@{
    Layout = "~/Views/Shared/Redesign/_MenuLayout.cshtml";
    ViewBag.Title = "Multi Vendor Marketplace Platform & Online Shopping - Saudi Arabia";
}
<style>
    button.input:hover, button[type='button']:hover {
        background-color: #29A56C !important;
        border-radius: 10px;
    }

    .header-info {
        margin-left: 2em;
    }
</style>

@*@using (Html.BeginForm("NSearchQ", "Home", FormMethod.Post, new { id = "search", @class = "" }))
{
    @Html.AntiForgeryToken() 
    <input type="hidden" name="txtSearchTerm" id="txtSearchTerm" />
    <input type="hidden" name="hdnlocation" id="hdnlocation" />
    <input type="hidden" name="hdnIsLocationSet" id="hdnIsLocationSet" value="0" />
    <input type="hidden" name="hdnSearchText" id="hdnSearchText" />
    <input type="hidden" name="hdnSearchFilters" id="hdnSearchFilters" />
    <input type="hidden" name="hdnStart" id="hdnStart" />
}*@

@if (Model == null)
{
    <div class="container mb-30">
        <div class="archive-header-2 text-center pt-90 pb-60">
            <h1 class="display-2 mb-50">
                <img id="logo" style="right: 150px;bottom: 20px;" src="~/Images/checkclikwithoutlogo.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right" height="100" />
            </h1>
            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <div class="sidebar-widget-2 widget_search mb-50">
                        <div class="search-form">
                            <form action="#">
                                <input id="txtSearch" name="txtSearch" value="@TempData["query"]" type="text" placeholder="Search by Store Or Product Name" />
                                <button id="btnSearch" type="button"><i class="fi-rs-search"></i></button>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> 
}
else
{
    <div class="container mb-30">
        <div class="archive-header-2 text-center  pt-90 pb-60">
            <h1 class="display-2 mb-50">
                @if (Model == null)
                {
                    <img id="logo" style="right: 150px;bottom: 20px;width:40%" src="~/Images/HomeImages/checkclik.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right" height="100" />
                }
                else if (!string.IsNullOrEmpty(Model.ImagePath))
                {
                    <img id="logo" style="right: 150px;bottom: 20px;width:30%" src="/Images/HomeImages/@Model.ImagePath" data-bs-toggle="tooltip" data-bs-placement="right" title="@Model.Title" />
                }
                else
                {
                    <img id="logo" style="right: 150px;bottom: 20px; width:20%" src="~/Images/HomeImages/checkclik.png" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right" />
                }
            </h1>
            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <div class="sidebar-widget-2 widget_search mb-30">
                        <div class="search-form">
                            <form action="#">
                                <input id="txtSearch" name="txtSearch" value="@TempData["query"]" type="text" placeholder="Search by Store Or Product Name" />
                                <button id="btnSearch" type="button"><i class="fi-rs-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
} 

