@{
    ViewBag.Title = "Terms&Conditions";
    Layout = "~/Views/Shared/_LayoutNew_Empty.cshtml";
}


<div class="container">
    <h1>Privacy Policy</h1>
    <div class="devider"></div>

    <p class="mb-4">Latest version (June 12, 2021)</p>

    <h3>Introduction</h3>

    <p>CHECKCLIK platform represented by CLIK L.L.C FOR TRADING in Kingdom of Saudi Arabia always seeks to maintain the privacy of your personal data, and we are complying with the provisions of the Data Protection and the right to Privacy Laws regarding the protection of your personal data, and we have formulated this "Privacy Policy" to show you the nature of the data  collected about you, and the purposes for which this data is used, so please read this policy carefully.</p>
    <p>The term data refers to all data related to sellers and customers using CHECKCLIK platform, which includes their name, address, contact details and any other data that identify the seller as well as other data related to the seller's activities through CHECKCLIK and data related to the devices used in the process of accessing CHECKCLIK.</p>
    <p>This policy applies in the relationship of CHECKCLIK with both the trader and the customer regarding collecting, processing and using data.</p>

    <h3>1. Data of the account</h3>
    <ul>
        <li><i class="fa fa-circle"></i><p>We collect the data provided by the seller to register his account on CHECKCLIK, which includes (name/company name, commercial register, address, email, mobile number, working hours, customer agreement).</p></li>
        <li><i class="fa fa-circle"></i><p>We collect the data provided by the customer to register his account on CHECKCLIK, which includes (name, email, mobile number ) and any other data requested by the website.</p></li>
        <li><i class="fa fa-circle"></i><p>The data provided by you is used to create your account on CHECKCLIK platform so that the seller can display products for sale through the store and enable the customer to submit purchase orders and follow up on the status of orders.</p></li>
        <li><i class="fa fa-circle"></i><p>You are responsible for all data you provide through CHECKCLIK, and you acknowledge that this data is accurate and at your own risk. It is prohibited to provide any data of others while registering, modifying or updating your account.</p></li>
        <li><i class="fa fa-circle"></i><p>You know that your data may be visible to all users and visitors of CHECKCLIK platform.</p></li>
    </ul>

    <h3>2. Subscriptions</h3>
    <ul>

        <li><i class="fa fa-circle"></i><p>CHECKCLIK makes subscription packages available to sellers, and the seller can choose the appropriate package for him. Subscribing to packages requires providing us with some data such as the seller's personal and commercial data and payment data.</p></li>
        <li><i class="fa fa-circle"></i><p>Seller's data is used for the purposes of the first-time subscription on CHECKCLIK and also for subscription renewal purposes.</p></li>
    </ul>

    <h3>3. Ads and Offers</h3>
    <ul>
        <li><i class="fa fa-circle"></i><p>CHECKCLIK allows the seller to provide ads and offers through CHECKCLIK, and the seller knows that ads and offers are visible to all CHECKCLIK users.</p></li>
        <li><i class="fa fa-circle"></i><p>The seller is responsible for any contact details or any personal data he provides through the ads and offers he provides through CHECKCLIK.</p></li>
    </ul>

    <h3>4. Payment Data</h3>
    <ul>
        <li><i class="fa fa-circle"></i><p>CHECKCLIK provides payment through the following methods (Visa, MasterCard, Mada, Apple Pay, cash "payment upon receipt "), and CHECKCLIK provides an electronic payment gateway. We contracted with an electronic payment service provider to provide the service through the website, and you authorize us to deal with the payment service provider on your behalf.</p></li>
        <li><i class="fa fa-circle"></i><p>The electronic payment service provider and banks may process the payment made by the customer through CHECKCLIK to check the customer’s activity and the legality of the payment process and check that there are no legal violations or risks related to the payment cards. Also, the customer may be asked to prove his ownership of the payment method used.</p></li>
        <li><i class="fa fa-circle"></i><p>The seller provides us with his bank account data for the purposes of depositing the seller's dues in accordance with our payment and commissions policy.</p></li>
        <li><i class="fa fa-circle"></i><p>We process all payments of the seller, deducting commissions and fees due, and the payment service provider and banks have the right to process all payments for transaction security purposes.</p></li>
        <li><i class="fa fa-circle"></i><p>Payment gateway security system and data encryption depend entirely on the payment gateway that we will use in CHECKCLIK. Data encryption is one of the main security systems methods used in payment gateways. Once you enter your card details into the payment gateway, they are encrypted with the payment gateway's public key and can only be decrypted by the payment gateway's private key. The gateway uses an algorithm that makes sure that no unauthorized party can decrypt the encrypted data when it is sent across the network. These algorithms typically follow asymmetric (same key for encryption and decryption) or asymmetric (a different key for encryption and decryption) encryption to conceal the data so that unauthorized sources cannot read or intercept it.</p></li>
        <li><i class="fa fa-circle"></i><p>Secure Socket Layer (SSL) is the standard security system protocol used in online transactions to establish an encrypted link between a web server (where payment is made) and a browser (where payment information is entered). E-commerce websites use SSL to authenticate their identity to visiting customers and to protect sensitive information such as card details entered by customers.</p></li>
    </ul>

    <h3>5. Shipping Data</h3>
    <ul>
        <li><i class="fa fa-circle"></i><p>The customer provides us with shipping data for the purposes of receiving the products. This data includes the address or place of delivery and contact details such as a mobile number to follow up the shipping process with the customer.</p></li>
        <li><i class="fa fa-circle"></i><p>We provide sellers or logistics support companies (as the case may be) with the shipping data provided to us by the customer through CHECKCLIK for the purpose of product delivery.</p></li>
        <li><i class="fa fa-circle"></i><p>We may provide the seller's data to the shipping companies in the event that the shipping is done through logistics support companies so that the shipping company can receive the products from the seller and deliver them to the customer.</p></li>
        <li><i class="fa fa-circle"></i><p>The seller obtains customers' data for the purposes of the product shipping process in the event that he carries out the shipping process. The seller shall be bound to deal and process customer data for shipping purposes only, and it is prohibited to use these data for any other purposes.</p></li>
    </ul>

    <h3>6. Return Data</h3>
    <ul>
        <li><i class="fa fa-circle"></i><p>The seller provides his return policy through his online store, and the return requests are processed by the seller. And if the seller communicates with the customer, this communication should be for the purposes of the return process only.</p></li>
        <li><i class="fa fa-circle"></i><p>Through CHECKCLIK, the customer provides us with product return data, which includes (order number, product type, quantity, reason of return).</p></li>
        <li><i class="fa fa-circle"></i><p>If the return is accepted, the site will start the process of refunding you again, and this requires dealing with the electronic payment service provider again and processing your request and the fees due.</p></li>
    </ul>

    <h3>7. Content</h3>
    <ul>
        <li><i class="fa fa-circle"></i><p>The seller provides us with his content, whether the description of his online store or description of products, prices and data of the store and its branches . The seller also knows that this data and content will be visible to all users through CHECKCLIK. CHECKCLIK has the right to use this content for the promotion and marketing of CHECKCLIK services.</p></li>
        <li><i class="fa fa-circle"></i><p>The seller and the customer provide us with the content of the messages that they send to CHECKCLIK, including texts and information they contain, and authorize us to process them for the purposes of responding to their orders and the seller and the customer provide us with this type of content under their own responsibility.</p></li>
        <li><i class="fa fa-circle"></i><p>We collect the data you provide to us to report on comments or problems that violate the terms and policies of CHECKCLIK website.</p></li>
    </ul>

    <h3>8. Data of Contact</h3>
    <ul>
        <li><i class="fa fa-circle"></i><p>You provide us with your number and your contact details when you contacts us through CHECKCLIK platform, whether via the website, email or phone.</p></li>
        <li><i class="fa fa-circle"></i><p>We allow you to communicate with the CHECKCLIK, in this case you provides us with the following information (name, email, subject of the message, content of the message).</p></li>
        <li><i class="fa fa-circle"></i><p>We collect the data you provide to us while communicating with us to inquire about any of our services or to encounter the problems that facing your use of the store.</p></li>
        <li><i class="fa fa-circle"></i><p>The data is provided by you will be used to respond to all your inquiries, comments, or requests by this website or any of its affiliate websites.</p></li>
    </ul>

    <h3>9. Data that is automatically collected</h3>
    <ul>
        <li><i class="fa fa-circle"></i><p>We did not design CHECKCLIK website to collect your personal data from your computer while browsing this website, but only the data provided by you will be used with your knowledge and your own free will.</p></li>
        <li><i class="fa fa-circle"></i><p>CHECKCLIK website collects some of your data, which does not define who you are or your contact details, and this data is collected automatically. Any time you visit any website, including this website, the hosting server will record your IP address, the date and time of your visit, the type of Internet browser you are using, and the URL of any website that transfer you to that website.</p></li>
    </ul>

    <h3>10. Cookies Policy</h3>
    <ul>
        <li><p>CHECKCLIK website adopts the cookies technology, which are small files stored within the hard disk of your computer. When you visit specific web pages from our website, the cookies identify your browser through a unique and random number without disclosing any personal information about you. The cookies help us to improve your experience of using the website and finding out which sections have the largest share of visit from our website.</p></li>
    </ul>

    <h3>11. Purposes of Collecting Data</h3>
    <ul>
        <li><i class="fa fa-circle"></i><p>We collect data to register your account on CHECKCLIK so that you can use our services and the various features that we provide, such as displaying products for sale through the seller’s store and providing financial reports that are used as a reference for the seller to make sure of his financial transactions, and this allows the customer to use the website and browse the available products and lists of sellers, reviews, select products and purchase through the website and follow up orders.</p></li>
        <li><i class="fa fa-circle"></i><p>We collect data to enable the seller to provide ads, offers and products through CHECKCLIK or through his online store, provide prices, describe products, make it possible to receive purchase orders from customers.</p></li>
        <li><i class="fa fa-circle"></i><p>We collect data to enable the seller to subscribe to the packages that we provide to sellers .As well as pay all fees related to publishing ads and offers through CHECKCLIK.</p></li>
        <li><i class="fa fa-circle"></i><p>We collect customer data, and it is encrypted for the purposes of enabling him to pay for products and shipping through CHECKCLIK by using the electronic payment gateway.</p></li>
        <li><i class="fa fa-circle"></i><p>We collect seller data to enable him to receive money transfers from CHECKCLIK in accordance with the payment and commissions policy, deduction of dues, refunds, and other financial operations required.</p></li>
        <li><i class="fa fa-circle"></i><p>We collect customer data for the purposes of completing the process of shipping and receiving the product, and this may require communication with the customer to confirm receipt of the product and/or review the shipping process.</p></li>
        <li><i class="fa fa-circle"></i><p>We collect customer data to receive return requests, transfer them to the trader, process them, respond to the customer in the event of rejection, or enable the customer to return if the request is accepted and the consequent refund of money again.</p></li>
        <li><i class="fa fa-circle"></i><p>We collect your data for the purposes of documenting the contact details you have provided us with , and verifying your possession of them.</p></li>
        <li><i class="fa fa-circle"></i><p>We collect your data to communicate with you about any obstacles regarding the submission of purchase orders through the store, regarding the communication between you and CHECKCLIK or between you and the shipping company.</p></li>
        <li><i class="fa fa-circle"></i><p>We collect your data to enable you to assess the services you get through CHECKCLIK.</p></li>
        <li><i class="fa fa-circle"></i><p>We collect your data to enable you to contact us and provide replies to inquiries you have provided to us through CHECKCLIK.</p></li>
        <li><i class="fa fa-circle"></i><p>We collect your data to nominate the advertisements and the products that we believe are of interest to you.</p></li>
        <li><i class="fa fa-circle"></i><p>We collect your data for law enforcement purposes or public authority decisions.</p></li>
    </ul>

    <h3>12. Limits of Data Disclosure</h3>
    <ul>
        <li><i class="fa fa-circle"></i><p>We disclose sellers and customers data to our partners on the store, employees, those who work with us and customer service providers for the purposes of implementing the services of CHECKCLIK website.</p></li>
        <li><i class="fa fa-circle"></i><p>We disclose certain data of the trader to shipping companies and customers for the purposes of carrying out purchases made through the website. We also disclose some data of the customer to shipping companies or sellers, as the case may be, for the purposes of delivery of products.</p></li>
        <li><i class="fa fa-circle"></i><p>We disclose your data to comply with the provisions of the law and , to execute the judicial decisions and the decisions of the competent authorities in the Kingdom.</p></li>
        <li><i class="fa fa-circle"></i><p>We disclose your data to implement our terms, conditions and any other agreement between you and CHECKCLIK.</p></li>
        <li><i class="fa fa-circle"></i><p>We may disclose your data to our co-providers as electronic payment providers for the purposes of verifying the validity of these transactions.</p></li>
        <li><i class="fa fa-circle"></i><p>We may disclose your data when we believe in good faith that such action will be required or desirable to implement the provisions of the law or to defend or protect the property rights of this website or its beneficiaries.</p></li>
    </ul>

    <h3>13. Storage of The Data</h3>
    <ul>
        <li><i class="fa fa-circle"></i><p>All data provided by you will be treated on the basis that it is confidential. Forms that are submitted directly on the network require you to provide data that will help us improve our website.</p></li>
        <li><i class="fa fa-circle"></i><p>We store all your data on fully protected and secure servers to protect your data from any hacking or piracy, and the storage of your data may require its transferring outside the Kingdom of Saudi Arabia in case CHECKCLIK utilizes a hosting service provider.</p></li>
    </ul>

    <h3>14. Integrity of The Data</h3>
    <ul>
        <li><i class="fa fa-circle"></i><p>You know that the Internet is not a 100% safe and secure mean, so our databases may be hacked into even though we have taken proper data protection procedures. From the perspective of our respect for your right to protect your data we will notify you within 3 days of the time we know about the hacking.</p></li>
        <li><i class="fa fa-circle"></i><p>The data provided by you will never be sold to any third party for the purpose of marketing it for its own benefit without your prior written consent unless this is done on the basis that it is within collective data used for statistical purposes and research without including any data that may be used to identify you.</p></li>
    </ul>

    <h3>15. Surveying on Network</h3>
    <ul>
        <li><i class="fa fa-circle"></i><p>Our online surveys enable us to collect specific data, such as data requested from you regarding your views and feeling about our website.</p></li>
        <li><i class="fa fa-circle"></i><p>Your responses are of the utmost importance and are appreciated as they enable us to improve our website. And you have complete freedom and choice in providing data related to your name and other data.</p></li>
    </ul>

    <h3>16. Links and Third parties</h3>
    <ul>
        <li><i class="fa fa-circle"></i><p>Our website may include external links belonging to other websites on the Internet or ads from other websites such as Google AdSense, and we are not responsible for the methods of data collection by those websites, and you can view the confidentiality policies and contents of those websites that are accessed through any link within this website.</p></li>
        <li><i class="fa fa-circle"></i><p>We may use third-party advertising companies to display ads when you visit our website. These companies have the right to use information about your visits to this and other websites (except for your name, address, email address or telephone number) in order to provide ads about goods and services you're interested in.</p></li>
    </ul>

    <h3>17. Amendment of The Privacy Policy</h3>
    <ul>
        <li><p>We have the right to amend this privacy policy at any time, and we will publish the amendments within this document. Also we will send a public notification via our registered email explaining the link to the new amendments. And your continued use of the website after the amendments of this policy is considered as an express consent of you on these amendments, so please review this policy constantly.</p></li>
    </ul>
    <ul>
        <li><p>You can contact us through:</p></li>
        <li><i class="fa fa-circle"></i><p>Email: care@checkclik.com </p></li>
        <li><i class="fa fa-circle"></i><p>Call us on the number: 920033980 </p></li>
    </ul>

</div>