@{
    ViewBag.Title = "Terms&Sales";
    Layout = "~/Views/Shared/_LayoutNew_Empty.cshtml";
    <style>
            .bold{
                font-weight:bold;
            }
    </style>
}
<div class="container">
    <h1>Terms Of Sales</h1>
    <div class="devider"></div>

    <p class="mb-4">This document governs the purchases made by the customer with (the name of the seller ……....), and it serves as an electronic contract between CHECKCLIK and (the name of the seller…......) on the one hand and the customer ,on the other hand, all purchases you make are subject to these terms:</p>

    <h3>1. Definitions</h3>
    <ul>
        <li> 
            <p><span class="bold">1.1 &nbsp;</span>This item includes some definitions for the terms contained in this agreement, and unless the context otherwise requires, the following terms will have the meanings  and interpretations referred to.</p>
        </li>
        <li> 
            <p><span class="bold">1.2 &nbsp;</span>"<strong class="bold-700">Agreement</strong>" refers to this document, the return policy of each online store, and any other documents relating to the use of CHECKCLIK.</p>
        </li>
        <li> 
            <p><span class="bold">1.3 &nbsp;</span>"<strong class="bold-700">Platform</strong>", "<strong class="bold-700">Website</strong>", "<strong class="bold-700 brand_title">CHECKCLIK</strong>", "<strong class="bold-700">We</strong>" or "<strong class="bold-700">Our</strong>" refers to CHECKCLIK platform www.CHECKCLIK.com and CHECKCLIK L.L.C FOR TRADING in the Kingdom of Saudi Arabia.</p>
        </li>
        <li> 
            <p><span class="bold">1.4 &nbsp;</span>"<strong class="bold-700">Online Store</strong>" refers to each online store dedicated to the seller whom you want to purchase one or more of his products displayed through the store.</p>
        </li>
        <li> 
            <p><span class="bold">1.5 &nbsp;</span>"<strong class="bold-700">Products</strong>" refers to the products displayed for sale via the online store by sellers.</p>
        </li>
        <li> 
            <p><span class="bold">1.6 &nbsp;</span>"<strong class="bold-700">Order</strong>" refers to products that the customer has decided to buy through the store and has already submitted a purchase order about it.</p>
        </li>
        <li> 
            <p><span class="bold">1.7 &nbsp;</span>"<strong class="bold-700">Laws</strong>" refer to the laws applicable in the Kingdom of Saudi Arabia.</p>
        </li>
    </ul>

    <h3>2. Purchase Approval</h3>
    <ul>
        <li> 
            <p><span class="bold">2.1 &nbsp;</span>By ordering to purchase products through CHECKCLIK, you agree to the terms stipulated in this document and the provisions of the agreement and any other requirements contained in the product page or through CHECKCLIK platform. In addition to the terms, conditions, and privacy policy available through the pages of the platform that expressly confirm your approval on them.</p>
        </li>
        <li>  
            <p><span class="bold">2.2 &nbsp;</span>Your approval includes entering into purchases through CHECKCLIK platform, and that you are fully aware that the products are provided by sellers through their online stores ,and that you accept to deal with the seller ,and that the platform plays the role of an intermediary in concluding the sale.</p>
        </li>
        <li> 
            <p><span class="bold">2.3 &nbsp;</span>Customers confirm their approval of the terms of sale and the prices listed for all products. Also, the conclusion of the contract, the approval of the agreement and the completion of the purchase of the products are done by pressing “OK” button at the end of the purchase process.</p>
        </li>
    </ul>

    <h3>3. Product Pricing</h3>
    <ul>
        <li><p><span class="bold">3.1 &nbsp;</span>Products are priced by online stores. And some errors may occur in pricing the product or change in prices for any reason, and therefore the seller reserves the right to adjust prices at any time, even after you place a purchase order.</p></li>
        <li><p><span class="bold">3.2 &nbsp;</span>If the product is not priced or its pricing is incorrect, the store will contact you to clarify the final price of the product, and the store will not charge you for the final price unless you agree to this new pricing.</p></li>
    </ul>

    <h3>4. Provision of Products</h3>
    <ul>
        <li><p><span class="bold">4.1 &nbsp;</span>The seller shall be bound to display the products available to him, however, we do not guarantee that the products are actually available in the seller's storage, the stock may run out at any time as a result of placing many purchase orders at the same time.</p></li>
        <li> <p><span class="bold">4.2 &nbsp;</span>In the event that you place an order on a product that is not available with the seller, the seller will return the order to you through “orders” window via the store or contact you. If the order contains more than one product, the store will contact you to clarify the available and unavailable products. And you have the right to accept or refuse to complete the purchase for the other products.</p></li>
        <li> <p><span class="bold">4.3 &nbsp;</span>If the stock runs out, you will not incur any additional costs or fees related to the process of returning the amounts paid again.</p></li>
    </ul>

    <h3>5. Product Description</h3>
    <ul>
        <li> <p><span class="bold">5.1 &nbsp;</span>The description of the products is determined by the seller, and the seller shall be bound to provide clear and accurate details of the products, however, if the product is available in several colors and paintings, it cannot be guaranteed that your preferred color is available unless the color is written in the product title.</p></li>
        <li> <p><span class="bold">5.2 &nbsp;</span>We are not legally responsible for the accuracy or completeness of the product description or image or the content of opinions about it from our other users.</p></li>
        <li> <p><span class="bold">5.3 &nbsp;</span>If the product is not in conformity with the specifications specified via the online store, you may return the product to the seller again in accordance with the provisions of the return policy.</p></li>
    </ul>

    <h3>6. Order Notifications</h3>
    <ul>
        <li><p><span class="bold">6.1 &nbsp;</span>We may send an email, text messages or other order notifications to the customer after the purchase has been concluded in which order details such as product and price data are clarified, but this email is not an approval on the part of the seller, the purchase process may not be made for various reasons.</p></li>
        <li><p><span class="bold">6.2 &nbsp;</span>When the products are shipped, you will receive a message confirming that the process of shipping the product has started, which means that the order has already been accepted and entered into force at the price described in the order unless the seller has agreed with you on any change in the price in accordance with these terms.</p></li>
        <li><p><span class="bold">6.3 &nbsp;</span>In the event that your order is not accepted, we will notify you via the platform and we will send you an email informing you of that.</p></li>
    </ul>

    <h3>7. Cancellation of the order</h3>
    <ul>
        <li><p><span class="bold">7.1 &nbsp;</span>You can cancel the order before the product is shipped to you, in this case, the cancellation process will be free, but if you cancel the order after starting the shipping process, you will bear the shipping cost. Also, if the product is custom designed or specially prepared to your specifications, you will not be able to cancel the order. We invite you to see our return policy.</p></li>
        <li><p><span class="bold">7.2 &nbsp;</span>Cancellations may be made for reasons due to us or due to the online store:</p> </li>
        <li class="pl-4"><i class="fa fa-circle"></i> <p>We have the right to cancel any order at our sole discretion and without giving any reasons.</p></li>
        <li class="pl-4"><i class="fa fa-circle"></i><p>The order may be cancelled because the product is not available in the stock, and you will receive a notification from the seller that the product is not currently available, and he will notify you when the product is available later, and in this case, if you want the product you can place a new order.</p></li>
        <li class="pl-4"><i class="fa fa-circle"></i><p>The order may be cancelled for the lack of verification of payment method or payment process you make, you fail to prove ownership of the payment method, or for any other reasons on the part of the electronic payment service providers or banks, or if we believe in our point of view that the order may cause us or the seller legal problems.</p> </li>
        <li class="pl-4"><i class="fa fa-circle"></i><p>The order may be cancelled due to incorrect pricing of the product or that the product details are incorrect or inaccurate.</p></li>
        <li class="pl-4"><i class="fa fa-circle"></i><p>The order may be cancelled if it is not possible to ship and deliver the order to you according to the address specified by you.</p></li>
        <li><p><span class="bold">7.3 &nbsp;</span>If you fix the problem that led to the cancellation of the order, you can re order again.</p></li>
    </ul>

    <h3>8. Payment</h3>
    <ul>
        <li><p><span class="bold">8.1 &nbsp;</span>The website provides the customer with the following payment methods (Visa, MasterCard, Mada Apple Pay, cash "payment upon receipt").</p></li>
        <li><p><span class="bold">8.2 &nbsp;</span>The customer pays the total price of the order + VAT.</p></li>
        <li><p><span class="bold">8.3 &nbsp;</span>The customer shall bear any fees related to the payment process through us, including the fees of the electronic payment service provider, banks and any other administrative fees.</p></li>
        <li><p><span class="bold">8.4 &nbsp;</span>If you cancel the order or return the product because you change your mind, you will be subject to the refund policy.</p></li>
    </ul>

    <h3>9. Shipping and Delivery</h3>
    <ul>
        <li><p><span class="bold">9.1 &nbsp;</span>The product is shipped by the seller himself or by a contracted shipping company to carry out the service, and the product will be delivered within 7-14 days from the date of purchase.</p></li>
        <li><p><span class="bold">9.2 &nbsp;</span>The customer shall bear the shipping cost , and it will be determined by the shipping company, and the cost for the same location may vary from one shipping company to another.</p></li>
        <li><p><span class="bold">9.3 &nbsp;</span>We may not be able to deliver the product to you if we do not provide shipping services to your city. Therefore, you should see the list of cities to which we provide the delivery service inside the Kingdom of Saudi Arabia before making your purchase. And this list is continually changed to expand our services.</p></li>
        <li><p><span class="bold">9.4 &nbsp;</span>The shipping and delivery times we provide are approximate, we take no legal responsibility for any delays in the delivery times announced by us, and we cannot guarantee the time required for delivery for certain.</p></li>
        <li> <p><span class="bold">9.5 &nbsp;</span>We cannot guarantee a specific delivery time for your order if you are not at the delivery address at the time of delivery, and we will contact you via your contact number. If you do not receive the order or do not respond to the rep, we will cancel the order with you bearing the costs arising from that.</p></li>
        <li><p><span class="bold">9.6 &nbsp;</span>If you face a problem related to the shipping process of the product, you can email us at .................. or call us at………………….</p></li>
    </ul>

    <h3>10. Return</h3>
    <ul>
        <li><p><span class="bold">10.1 &nbsp;</span>The online store that you wish to purchase from provides a return policy that you shall access before purchasing.</p></li>
        <li><p><span class="bold">10.2 &nbsp;</span>The completion of the purchase of the product is express consent from you to the items of the return policy.</p></li>
    </ul>

    <h3>11. Order Completeness</h3>
    <ul class="pl-4 mb-5">
        <li> <p><span class="bold">11.1 &nbsp;</span>Once we deliver the order to you, we consider that the sale process had been successfully completed, and we release our responsibility from the products. And therefore, you assume any risk related to the possession of the product.</p></li>
        <li> <p><span class="bold">11.2 &nbsp;</span>Before delivering the product to you and during the shipping and delivery period, the shipping company assumes any risks or any damages to the product.</p></li>
    </ul>

    <h3>12. Terms and Conditions for Coupons and Discounts</h3>
    <ul>
        <li><p><span class="bold">12.1 &nbsp;</span>The offered coupons and discounts are only valid for use on the store on CHECKCLIK platform and CHECKCLIK application on smartphones.</li>
        <li><p><span class="bold">12.2 &nbsp;</span>Make sure to enter the correct coupon code during the completion of the purchase process before paying, the discount will not be counted if you use the wrong coupon code.</p></li>
        <li><p><span class="bold">12.3 &nbsp;</span>Coupons and discounts are provided for specific periods that may be associated with a specific quantity or a specific number of days. And therefore, promotional codes may be discontinued once the offer period has expired.</p></li>
        <li><p><span class="bold">12.4 &nbsp;</span>If you return the product and ask for a refund of your money, the same amount you paid after the discount will be returned and not the original price of the product minus the return costs, which you can know more about this by accessing the return policy.</p></li>
        <li><p><span class="bold">12.5 &nbsp;</span>The highest value of the discount is 100 Saudi riyals, and this will be the amount or the maximum discount if the discount percentage is not specified in the coupons and offers.</p></li>
        <li><p><span class="bold">12.6 &nbsp;</span>Unless otherwise indicated, discount coupons do not apply to sale products and offers.</p></li>
        <li><p><span class="bold">12.7 &nbsp;</span>Coupons and discounts cannot be transferred from person to person and cannot be received as cash.</p></li>
        <li><p><span class="bold">12.8 &nbsp;</span>The coupon can only be used once per customer or depending on the number of times we allow.</p></li>
        <li><p><span class="bold">12.9 &nbsp;</span>More than one coupon or offer cannot be combined.</p></li>
        <li><p><span class="bold">12.10 &nbsp;</span>The terms of use of coupons and discounts such as associated products, highest value of the discount and validity can change at any time and without notice.</p></li>
    </ul>

    <h3>13. Limits of Our Responsibility</h3>
    <ul>
        <li><p><span class="bold">13.1 &nbsp;</span>You know and agree that we are not responsible for any products or services provided by the seller. And the seller bears full legal responsibility for any damages caused by the products.</p></li>
        <li><p><span class="bold">13.2 &nbsp;</span>We do not bear any legal responsibility for your data and credit card information or any information related to the use of your account on the platform, whether the use of the information is authorized by you or not. And in all cases, you are committed to all transactions that take place through your account with us.</p></li>
        <li><p><span class="bold">13.3 &nbsp;</span>The customer shall be bound to follow all the provisions that are stipulated in this agreement and he shall comply with the applicable laws.</p></li>
        <li><p><span class="bold">13.4 &nbsp;</span>The customer submits the purchase order of the products at his own responsibility without the platform provide any additional guarantees or pledges except these stipulated in this document. The seller provides the products as available through the store at the time of purchase and with the specifications advertised through the store. The store shall be bound not to provide any additional features or characteristics in the products after delivering it to the customer.</p></li>
        <li><p><span class="bold">13.5 &nbsp;</span>The customer exempts CHECKCLIK website from any liability arising from the provision of services to it, including any personal conducts occurs during the shipping process.</p></li>
        <li><p><span class="bold">13.6 &nbsp;</span>The customer shall be bound to order and use the products for legal purposes, and he is responsible in case that he makes any illegal use of the products which he orders to purchase through the store.</p></li>
    </ul>

    <h3>14. Updating</h3>
    <div class="pl-4 mb-5">
        <p>We have the right at any time to update these terms and any other terms or policy of the platform, and the current items of the order you purchase are valid, if you wish to purchase other orders later, you should fully look at the terms of sale again to make sure of their updates.</p>
    </div>

</div>