@{
    Layout = "~/Areas/Ar/Views/Shared/Redesign/_MenuLayout.cshtml";
    ViewBag.Title = "Login to your account";
}
@*<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
    <meta charset="utf-8" />
    <title>CHECKCLIK - User Login</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/nest/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="/nest/css/main.css?v=5.6" />

    <script src="/nest/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/nest/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/nest/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/app-assets/vendors/js/extensions/toastr.min.js"></script>
    <script src="~/app-assets/js/scripts/extensions/toastr.js"></script>

    <!-- Vendor JS-->
    <script src="/nest/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/nest/js/plugins/slick.js"></script>
    <script src="/nest/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/nest/js/plugins/wow.js"></script>
    <script src="/nest/js/plugins/perfect-scrollbar.js"></script>
    <script src="/nest/js/plugins/magnific-popup.js"></script>
    <script src="/nest/js/plugins/select2.min.js"></script>
    <script src="/nest/js/plugins/waypoints.js"></script>
    <script src="/nest/js/plugins/counterup.js"></script>
    <script src="/nest/js/plugins/jquery.countdown.min.js"></script>
    <script src="/nest/js/plugins/images-loaded.js"></script>
    <script src="/nest/js/plugins/isotope.js"></script>
    <script src="/nest/js/plugins/scrollup.js"></script>
    <script src="/nest/js/plugins/jquery.vticker-min.js"></script>
    <script src="/nest/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/nest/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/nest/js/main.js?v=5.6"></script>
    <script src="/nest/js/shop.js?v=5.6"></script>
</head><body>*@
@if (TempData["Error"] != null)
{
    <text>
        <script>
            toastr.options = {
                "closeButton": true,
                "debug": true,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr['info']('@TempData["Error"]');
        </script>
    </text>
}
<div class="container mb-30">
    <div class="page-header breadcrumb-wrap" hidden>
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Pages <span></span> My Account
            </div>
        </div>
    </div>
    <div class="page-content pt-60 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                    <div class="row justify-content-center">
                        <div class="login_wrap widget-taber-content background-white w-400">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h1 class="mb-5">تسجيل الدخول</h1>
                                    <p class="mb-30">ليس لديك حساب؟ <a href="/ar/User/SignUpnest">اشترك الآن</a></p>
                                </div>
                                <form method="post">
                                    <div class="form-group">
                                        <input id="MobileEmailId" type="text" required="" name="email" placeholder="يرجى إدخال اسم المستخدم او البريد الإلكتروني *" onkeyup="myFunction(event)" onkeydown="myFunction(event)" maxlength="100" />
                                        <span id="keyVal" hidden class="danger"></span>
                                        <span id="logMobNoErr" class="pb_text-red Bold"></span>
                                        <span id="ValidationMessage" class="pb_text-red Bold"></span>
                                        <input type="hidden" id="htnIpType" value="0" />
                                    </div>
                                    <div class="form-group">
                                        <input id="Password" name="password" required="" type="password" name="password" placeholder="يرجى إدخال كلمة المرور *" />
                                        <span id='PasswordErr' class="text-danger Bold"></span>
                                        <span id='loginErr'></span>
                                    </div>
                                    <div class="login_footer form-group mb-50">
                                        <div class="chek-form">
                                            <div class="custome-checkbox">
                                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="" />
                                                <label class="form-check-label" for="exampleCheckbox1"><span>تذكرني</span></label>
                                            </div>
                                        </div>
                                        <a class="text-muted" href="#"><a href="javascript:;" data-toggle="modal" data-target="#modalLoginForm" class="card-link" onclick="ShowForgetPasswordModal()"><small>هل نسيت كلمة المرور؟</small></a></a>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" onclick="UserLogin()" class="btn btn-heading btn-block hover-up" name="login">تسجيل الدخول</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Forgot Password Modal -->
    <div id="modalLoginForm1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-modal="true">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="spnForgotType">Vendor</span> Forgot Password?</h5>
                    <button type="button" class="close cursor" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="relative align-self-center">
                        <div action="#" class="bg-white rounded pb_form_v1 no-box-shadow">
                            <p>Verify yourself with:</p>
                            <div class="form-group">
                                <div class="input-group m-input-group">
                                    @*<span class="input-group-addon" id="faPhone">
                                    <i class="">+966</i>
                                    </span>*@
                                    <span class="input-group-addon" id="faEmail">
                                        <i class="fa fa-envelope-o"></i>
                                    </span>
                                    <input type="text" id="txtEmailMobile" class="form-control pb_height-50 reverse" placeholder="Enter email to receive OTP" @*onblur="myFunction(event)"*@ @*onkeypress="myFunction(event)"*@ autocomplete="off">
                                </div>

                                <p id="keyVal"></p>
                                <p id="ValidationMessage" class="pb_text-red"></p>
                                <input type="hidden" id="htnIpType" value="0" />
                            </div>

                            <div class="form-group">
                                <a class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue" id="btnSendOTP" style="color:#fff;">Send OTP</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-modal="true">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="spnForgotType"></span> هل نسيت كلمة المرور؟</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="loginmodal-container">
                        <div id="wizard">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="stepf1">
                                    <div class="form-wrapper no-shadow">
                                        <form>
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-default" @*style="background-color:#eaeaea !important;"*@>+966</span>
                                                </span>
                                                <div class="">
                                                    <input type="text" id="fmobileNo" autocomplete="off" class="form-control pb_height-50 reverse number" data-val-length-max="9" maxlength="9" minlength="9" name="MobileNo" placeholder="يرجى إدخال رقم الهاتف المحمول" value="" onkeypress="return isNumberKey(event);" />
                                                </div>
                                            </div>
                                            <span class="text-danger" id="fmobileErr"></span>
                                            <div class="button-panel mt-2">
                                                <a class="btn w-100 hover-up" aria-controls="step1" onclick="verifyFogotMobile()">متابعه</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="stepf2">
                                    <div class="form-wrapper">
                                        <form>
                                            <span id="Timer"></span>
                                            <p>قم بإدخال الكود المرسل الى رقم الجوال<br /><strong>+966 <span id="fmobNo"></span></strong> للتحقق  </p>
                                            <div class="form-item">
                                                <input id="fotpNo" class="form-control number" autocomplete="off" type="text" name="fname" maxlength="4" minlength="4" required="required" placeholder="أدخل رمز التفعيل" onkeypress="return isNumberKey(event);" />
                                            </div>
                                            <span id="fotpError" class="text-danger"></span>
                                            <span id="otpTimer"></span>
                                            <div class="button-panel mt-2">
                                                <a class="btn w-100 hover-up" onclick="VerifyOTP()"> تأكيد </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="stepf3">
                                    <div class="form-wrapper">
                                        <form>
                                            <div class="form-group" style="position:relative">
                                                <label class="text-bold-600" for="exampleInputPassword1">كلمة المرور الجديدة</label>
                                                <input type="password" id="fpswd" class="form-control pb_height-50 reverse" autocomplete="off" required="required" maxlength="50" minlength="3" placeholder="يرجى إدخال كلمة المرور" />

                                                <span id='fpswrdErr' class="text-danger"></span>
                                            </div>
                                            <div class="form-item">
                                                <label class="text-bold-600" for="exampleInputPassword1">تأكيد كلمة المرور الجديدة</label>
                                                <input type="password" id="fpassConf" class="form-control pb_height-50 reverse" required="required" autocomplete="off" maxlength="50" minlength="3" placeholder="يرجى تأكيد كلمة المرور" />
                                                <span id='fConpswrdErr' class="text-danger"></span>
                                            </div>

                                            <div class="button-panel mt-2">
                                                <a href="#" class="btn w-100 hover-up" aria-controls="step1" onclick="UpdatePassword()">إعادة تعيين كلمة المرور</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*  <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <img src="/nest/imgs/theme/loading.gif" alt="" />
                </div>
            </div>
        </div>
    </div>*@

<script>
    function ShowForgetPasswordModal() {
        $("#modalLoginForm").modal("show");
    }
    function chars(e) {
        var key = document.all ? key = e.keyCode : key = e.which;
        return ((key > 64 && key < 91) || (key > 96 && key < 123));
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if ((charCode < 47 || charCode > 57))
            return false;
        return true;
    }
    function validateEmail($email) {
        var emailReg = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return emailReg.test($email);
    }
    function myFunction(event) {
    }
    function UserLogin() {
        // debugger
        var MobileEmailId = $('#MobileEmailId').val();
        var Password = $('#Password').val();
        var a = 0; b = 0;
        $("#logMobNoErr").text('');
        if (isNaN(MobileEmailId)) {
            a = 1;
        }
        else if (!isNaN(MobileEmailId)) {
            if (MobileEmailId[0] != 5) {
                $("#logMobNoErr").text("5xxxxxxxx رقم الجوال غير صحيح").addClass("text-danger");
                return;
            }
            if (MobileEmailId.length != 9) {
                $('#logMobNoErr').html('5xxxxxxxx رقم الجوال غير صحيح').addClass("text-danger");
                //return;
                a = 1;
            }
            else
                a = 0;

        }
        if (!validateEmail(MobileEmailId)) {
            b = 1;
        }
        else if (validateEmail(MobileEmailId)) {
            b = 0;
        }
        else {
            if (isNaN(MobileEmailId)) {
                $('#logMobNoErr').html('يرجى إدخال بريد الإلكتروني صحيح').addClass("text-danger");
            }
            else
                b = 1;
        }
        if (a == 1 && b == 1) {
            if (MobileEmailId == '')
                $('#logMobNoErr').html('هذا الحقل مطلوب').addClass("text-danger");
            else
                $('#logMobNoErr').html('يرجى إدخال بريد إلكتروني صحيح/رقم هاتف محمول صحيح').addClass("text-danger");
            return;
        }
        else if (a == 0) {
            MobileEmailId = "+966" + MobileEmailId;

        }
        else if (b == 0) {
        }


        if (MobileEmailId == '' || Password == '') {

            if (MobileEmailId == '') {
                $('#logMobNoErr').html('هذا الحقل مطلوب').addClass("text-danger");
            }
            else {
                $('#logMobNoErr').html('');
            }
            if (Password == '') {
                $('#PasswordErr').html('هذا الحقل مطلوب').addClass("text-danger");
            }
            else {
                $('#PasswordErr').html('');
            }
            return;
        }
        else {
            if (MobileEmailId == '') {
                $('#logMobNoErr').html('');
            }
            if (Password == '') {
                $('#PasswordErr').html('');
            }
        }


        //if (MobileEmailId != '') {
        //    $('#logMobNoErr').html('');
        //}

        //if (Password != '') {
        //    $('#PasswordErr').html('');
        //}

        var userDetails = { 'LoginName': MobileEmailId, 'Password': Password }
        $('#logMobNoErr').html('');
        $.ajax({
            /**/
            url: '/ar/User/UserLoginValidation',
            /**/
            data: { UserData: userDetails },
            datatype: 'json',
            type: 'Post',
            success: function (result) {
                // debugger
                var status = result.status;

                //alert(countDownDate);
                if (!status) {
                    //alert(data.Message)
                    //$('#loginErr').html(result.Message).addClass("text-danger");;
                    toastr.options = {
                        "closeButton": true,
                        "debug": true,
                        "newestOnTop": false,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": true,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };
                    toastr['info'](result.message);
                    return
                }
                else {
                    if (result.returnUrl == null || result.returnUrl == '') {
                        window.location.href = '/ar/Home/NIndex';
                    }
                    else {
                        window.location.href = result.returnUrl;
                    }
                    //$('#loginErr').html(result.Message).css('color', 'green');

                }
            },
            error: function () {
                //$('#loginErr').html('حدث خطأ ما').addClass("text-danger");;
                toastr.options = {
                    "closeButton": true,
                    "debug": true,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr['info']('حدث خطأ ما');
            }


        })
    }

    function verifyFogotMobile() {
        // debugger;
        var mob = $("#fmobileNo").val();
        if (mob == '') {
            //$('#mobileErr').html('Mobile No Required').css('color', 'red');
            $('#fmobileErr').text('هذا الحقل مطلوب').addClass("text-danger");
            return;
        }
        else if (isNaN(mob) == true) {
            $("#fmobileErr").text(isNaN(mob) == true ? "رقم الجوال غير صحيح" : "");
            return;
        }
        else if (mob[0] != 5) {
            $("#fmobileErr").text("5xxxxxxxx رقم الجوال غير صحيح");
            return;
        }
        else if (mob.length != 9) {
            $('#fmobileErr').html('5xxxxxxxx رقم الجوال غير صحيح').addClass("text-danger");
            return;
        }
        else {
            $.ajax({
                type: "GET",
                /**/
                url: '/ar/User/GetForgotVerifyMobile',
                /**/
                contentType: "application/json; charset=utf-8",
                data: { "MobileNo": mob },
                datatype: "json",
                success: function (data) {
                    var countDownDate = data.status;
                    if (!countDownDate) {
                        //alert(data.Message)
                        $('#fmobileErr').html(data.message).addClass("text-danger");
                        return
                    }
                    else {
                        // debugger
                        var mno = $("#fmobileNo").val();
                        $('#fmobNo').html(mno);
                        $('#stepf1').hide();
                        $('#stepf2').show();
                    }
                },
                error: function () {
                    $('#mobileErr').html('حدث خطأ ما').addClass("text-danger");
                    return
                }
            });
            $('#fmobileErr').html('');

        }

    }

    function VerifyOTP() {
        var mobileNo = $("#fmobileNo").val();
        var otpno = $("#fotpNo").val();
        // debugger

        $.ajax({

            /**/
            url: '/ar/User/GetForgotVerifyOtp',
            /**/
            type: 'get',
            datatype: 'json',
            data: { 'MobileNo': mobileNo, 'otp': otpno },
            success: function (data) {
                // debugger;
                var countDownDate = data.status;
                if (!countDownDate) {
                    $('#fotpError').html(data.message).addClass("text-danger");
                    return
                }
                else {

                    $('#fotpError').html(data.message).css('color', 'green');
                    $('#stepf2').hide();
                    $('#stepf3').show();

                    toastr.options = {
                        "closeButton": true,
                        "debug": true,
                        "newestOnTop": false,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": true,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };
                    toastr['info']('تم التحقق من رمز التفعيل');

                }
            },
            error: function () {
                alert("حدث خطأ ما")
            }
        });
    }

    function UpdatePassword() {
        //if ($("#fpswd").val() != '') {
        //    $('#fpswrdErr').html('');
        //}
        //if ($("#fpassConf").val() == '') {
        //    $('#fConpswrdErr').html('Confirm Password Required').addClass("text-danger");
        //}
        //if ($("#fpassConf").val() != '') {
        //    $('#fConpswrdErr').html('');
        //    //return;
        //}
        //if ($('#fpswd').val() == $('#fpassConf').val()) {
        //    $('#fmessage').html('').css('color', 'green');
        //}
        var pl = 0, cpl = 0;
        if ($("#fpswd").val() == '') {
            $('#fpswrdErr').html('هذا الحقل مطلوب').addClass("text-danger");
            //return;
            pl = 1;
        }
        else {
            if ($("#fpswd").val().length < 8) {
                $('#fpswrdErr').html('يتطلب هذا الحقل ٨ أحرف على الأقل');
                pl = 1;
            }
            else
                $('#fpswrdErr').html('');
        }

        if ($("#fpassConf").val() == '') {
            $('#fConpswrdErr').html('هذا الحقل مطلوب').addClass("text-danger");
            cpl = 1;
        }
        else {
            if ($("#fpassConf").val().length < 8) {
                $('#fConpswrdErr').html('يتطلب هذا الحقل ٨ أحرف على الأقل')
                cpl = 1;
            }
            else
                $('#fConpswrdErr').html('');
        }
        if (pl != 0 || cpl != 0) {
            //$('#step2').hide();
            //$('#step1').show();
            return false;
        }
        if ($('#fpswd').val() != $('#fpassConf').val() && $("#fpassConf").val() != '') {
            $('#fConpswrdErr').html('كلمة المرور غير متطابقة, الرجاء إدخال كلمة مرور صحيحة').addClass("text-danger");
            return false;
        }




        // debugger;
        var mobileNo = $("#fmobileNo").val();
        var otpno = $("#fotpNo").val();
        var Password = $("#fpswd").val();

        if (otpno == "") {
            $('#fotpError').html("هذا الحقل مطلوب").addClass("text-danger");
            return
        }
        var userDetails = { 'MobileNo': mobileNo, 'OtpCode': otpno, 'Password': Password };
        var stringData = JSON.stringify(userDetails)
        // debugger

        $.ajax({

            /**/
            url: '/ar/User/UpdatePassword',
            /**/
            type: 'Post',
            datatype: 'json',
            data: { UserData: stringData },
            success: function (data) {
                // debugger;
                var countDownDate = data.status;
                if (!countDownDate) {
                    //alert(data.Message)
                    $('#fotpError').html(data.message).addClass("text-danger");
                    return
                }
                else {
                    $('#fotpError').html(data.message).css('color', 'green');

                    toastr.options = {
                        "closeButton": true,
                        "debug": true,
                        "newestOnTop": false,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": true,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };
                    toastr['info']('تم تحديث كلمة المرور بنجاح');
                    window.location.href = '/ar/Home/NIndex';

                }
            },
            error: function () {
                toastr.options = {
                    "closeButton": true,
                    "debug": true,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr['error']('حدث خطأ ما ، يرجى المحاولة مرة اخرى');

            }
        });
    }
</script>