@{
    Layout = "~/Areas/Ar/Views/Shared/Redesign/_MenuLayout.cshtml";
    ViewBag.Title = "Register new account";
}
@*<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <title>CHECKCLIK - User Login</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/nest/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="/nest/css/main.css?v=5.6" />

    <script src="/nest/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/nest/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/nest/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/app-assets/vendors/js/extensions/toastr.min.js"></script>
    <script src="~/app-assets/js/scripts/extensions/toastr.js"></script>

    <!-- Vendor JS-->
    <script src="/nest/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/nest/js/plugins/slick.js"></script>
    <script src="/nest/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/nest/js/plugins/wow.js"></script>
    <script src="/nest/js/plugins/perfect-scrollbar.js"></script>
    <script src="/nest/js/plugins/magnific-popup.js"></script>
    <script src="/nest/js/plugins/select2.min.js"></script>
    <script src="/nest/js/plugins/waypoints.js"></script>
    <script src="/nest/js/plugins/counterup.js"></script>
    <script src="/nest/js/plugins/jquery.countdown.min.js"></script>
    <script src="/nest/js/plugins/images-loaded.js"></script>
    <script src="/nest/js/plugins/isotope.js"></script>
    <script src="/nest/js/plugins/scrollup.js"></script>
    <script src="/nest/js/plugins/jquery.vticker-min.js"></script>
    <script src="/nest/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/nest/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/nest/js/main.js?v=5.6"></script>
    <script src="/nest/js/shop.js?v=5.6"></script>
    <style>
        .form-group input {
    background: #fff;
    border: 1px solid #ececec;
    height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 20px;
    font-size: 16px;
    width: 100%;
}
    </style>
</head>
<body> *@
@if (TempData["Error"] != null)
{
    <text>
            <script>
                toastr.options = {
                    "closeButton": true,
                    "debug": true,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr['info']('@TempData["Error"]');
            </script>
    </text>
}
<section class="product-tabs section-padding position-relative mb-30">
    <!--End header-->
    <div class="container">
        <div class="page-header breadcrumb-wrap" hidden>
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Pages <span></span> My Account
                </div>
            </div>
        </div>
        <div class="page-content pt-10 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                        <div class="row justify-content-center">
                                <div class="login_wrap widget-taber-content background-white w-400">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                    <h3 class="mb-5"> إنشاء حساب على <span class="brand_title">شيك كلِك</span></h3>
                                        </div>
                                        <form method="post">
                                            <div class="tab-content mt-4">
                                                    <div role="tabpanel" class="tab-pane active" id="step1"> 
                                                    <div class="form-group">
                                                        <label class="text-bold-600" for="exampleInputEmail1">الاسم الأول</label>
                                                <input type="text" id="fnam" required="required" maxlength="50" class="form-control pb_height-50 reverse" placeholder="الاسم الأول" autocomplete="off" onkeypress="return chars(event);" />
                                                        <span id='fnameErr' class="text-danger"></span>

                                                    </div>
                                                    <div class="form-group">
                                                        <label class="text-bold-600" for="exampleInputEmail1">اسم العائلة</label>
                                                        <input type="text" id="lnam" required="required" maxlength="50" class="form-control pb_height-50 reverse" placeholder="اسم العائلة" autocomplete="off" onkeypress="return chars(event);" />
                                                        <span id='lnameErr' class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                <label class="text-bold-600" for="exampleInputEmail1">البريد الإلكتروني</label>
                                                        <input type="text" id="eml" required="required" maxlength="50" class="form-control pb_height-50 reverse" placeholder="البريد الإلكتروني" autocomplete="off" />
                                                        <span id='emailErr' class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="text-bold-600" for="exampleInputPassword1">كلمة المرور</label>
                                                        <input type="password" id="pswd" name="pswd" class="form-control pb_height-50 reverse" autocomplete="off" required="required" placeholder="كلمة المرور" />
                                                        <span id='pswrdErr' class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="text-bold-600" for="exampleInputPassword1">تأكيد كلمة المرور</label>
                                                <input type="password" id="passConf" name="passConf" class="form-control pb_height-50 reverse" autocomplete="off" required="required" placeholder="تأكيد كلمة المرور" />
                                                        <span id='ConpswrdErr' class="text-danger"></span>
                                                    </div>
                                                    <div class="custome-radio">
                                                        <input class="form-check-input" onchange="CRNShowHide()" type="radio" value="1" name="CustomerType" id="exampleRadios3" checked="">
                                                        <label class="form-check-label" for="exampleRadios3">عميل فرد</label>
                                                    </div>
                                                    <div class="custome-radio">
                                                        <input class="form-check-input" onchange="CRNShowHide()" value="2" type="radio" name="CustomerType" id="exampleRadios4">
                                                        <label class="form-check-label" for="exampleRadios4">عميل شركة</label>
                                                    </div>
                                                    <div class="form-group" id="crn">
                                                <label class="text-bold-600" for="exampleInputEmail1">السجل التجاري <small>(رقم تسجيل الشركة)</small></label>
                                                        <input type="text" id="crnNumber" required="required" maxlength="50" name="CRN" class="form-control pb_height-50 reverse" placeholder="الرجاء إدخال رقم السجل التجاري" autocomplete="off" />
                                                        <span id='crnErr' class="text-danger"></span>
                                                    </div>

                                            <button type="button" class="btn btn-primary glow w-100 position-relative" onclick="submitSign()">اشترك الآن<i id="icon-arrow" class="bx bx-right-arrow-alt"></i></button>
                                                </div>
                                                <div role="tabpanel" class="tab-pane" id="step2">
                                                    <div class="form-wrapper">
                                                        <form> 
                                                            <div class="form-group mb-50">
                                                                <label class="text-bold-600" for="exampleInputEmail1">Enter Mobile Number</label> 
                                                                <input type="text" id="mobileNo" required="required" data-val-length-max="9" maxlength="9" class="form-control pb_height-50 reverse" placeholder="Enter Mobile Number" value="" />
                                                            </div> 
                                                            <span id="mobileErr"></span>
                                                            <div class="form-group mb-50"> 
                                                                <a class="btn btn-primary glow w-100 position-relative" aria-controls="step1" onclick="verifyMobile()">Continue</a>
                                                            </div> 
                                                        </form>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane" id="step3">
                                                    <div class="form-wrapper">
                                                        <form>
                                                            <span id="Timer"></span> 
                                                            <p>لإتمام طلب التسجيل قم بإدخال الكود المرسل الى رقم الجوال<br /><strong>+966 <span id="mobNo"></span></strong> للتحقق.  </p>
                                                            <div class="form-item">
                                                                <input id="otpNo" type="text" name="fname" required="required" placeholder="Enter OTP" maxlength="4" minlength="4" onkeypress="return isNumberKey(event);" />
                                                                <span id="otpError"></span>
                                                            </div>
                                                            <span id="otpTimer"></span>
                                                            <span id="otpTimer2">@ViewBag.Timer</span>
                                                            <a id="ReSendOTP" onclick="verifyMobile()">أعد إرسال الرمز</a>
                                                            <div class="button-panel mt-5">
                                                        <a class="btn btn-primary glow w-100 position-relative" onclick="SubmitForm()">تأكيد</a>
                                                                @*<button type="button" class="button" title="Sign In" value="Sign Up">Sign Up</button>*@
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                </div>

                                    <p class="mt-30">هل لديك حساب بالفعل؟ <a href="/User/IndexNest">تسجيل الدخول</a></p>
                                        </form>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Forgot Password Modal -->
                <div id="modalLoginForm1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-modal="true">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><span id="spnForgotType">Vendor</span> Forgot Password?</h5>
                                <button type="button" class="close cursor" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="relative align-self-center">
                                    <div action="#" class="bg-white rounded pb_form_v1 no-box-shadow">
                                        <p>Verify yourself with:</p>
                                        <div class="form-group">
                                            <div class="input-group m-input-group">
                                        @*<span class="input-group-addon" id="faPhone">
                                                <i class="">+966</i>
                                                </span>*@
                                                <span class="input-group-addon" id="faEmail">
                                                    <i class="fa fa-envelope-o"></i>
                                                </span>
                                                <input type="text" id="txtEmailMobile" class="form-control pb_height-50 reverse" placeholder="Enter email to receive OTP" @*onblur="myFunction(event)"*@ @*onkeypress="myFunction(event)"*@ autocomplete="off">
                                            </div>

                                            <p id="keyVal"></p>
                                            <p id="ValidationMessage" class="pb_text-red"></p>
                                            <input type="hidden" id="htnIpType" value="0" />
                                        </div>

                                        <div class="form-group">
                                            <a class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue" id="btnSendOTP" style="color:#fff;">Send OTP</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-modal="true">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><span id="spnForgotType"></span> هل نسيت كلمة السر؟</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="loginmodal-container"> 
                                    <div id="wizard">
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="stepf1">
                                                <div class="form-wrapper no-shadow">
                                                    <form>
                                                        <div class="input-group">
                                                            <span class="input-group-btn">
                                                                <span class="btn btn-default" @*style="background-color:#eaeaea !important;"*@>+966</span>
                                                            </span>
                                                            <div class="">
                                                                <input type="text" id="fmobileNo" autocomplete="off" class="form-control pb_height-50 reverse number" data-val-length-max="9" maxlength="9" minlength="9" name="MobileNo" placeholder="رقم الهاتف المحمول" value="" onkeypress="return isNumberKey(event);" />
                                                            </div>
                                                        </div>
                                                        <span class="text-danger" id="fmobileErr"></span>
                                                        <div class="button-panel mt-2">
                                            <a class="btn w-100 hover-up" aria-controls="step1" onclick="verifyFogotMobile()">متابعه</a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="stepf2">
                                                <div class="form-wrapper">
                                                    <form>
                                                        <span id="Timer"></span>
                                        @*لإتمام طلب التسجيل قم بإدخال الكود المرسل الى رقم الجوال +96654545454 للتحقق*@
                                                        <p>لإتمام طلب التسجيل قم بإدخال الكود المرسل الى رقم الجوال<br /><strong>+966 <span id="fmobNo"></span></strong> للتحقق  </p>
                                                        <div class="form-item">
                                                            <input id="fotpNo" class="form-control number" autocomplete="off" type="text" name="fname" maxlength="4" minlength="4" required="required" placeholder="Enter OTP" onkeypress="return isNumberKey(event);" />
                                                        </div>
                                                        <span id="fotpError" class="text-danger"></span>
                                                        <span id="otpTimer"></span>
                                                        <div class="button-panel mt-2">
                                                            <a class="btn w-100 hover-up" onclick="VerifyOTP()"> تأكيد </a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="stepf3">
                                                <div class="form-wrapper">
                                                    <form>
                                                        <div class="form-group" style="position:relative">
                                            <label class="text-bold-600" for="exampleInputPassword1">ادخل كلمة المرور الجديدة</label>
                                                            <input type="password" id="fpswd" class="form-control pb_height-50 reverse" autocomplete="off" required="required" maxlength="50" minlength="3" placeholder="ادخل كلمة المرور الجديدة" />

                                                            <span id='fpswrdErr' class="text-danger"></span>
                                                        </div>
                                                        <div class="form-item">
                                            <label class="text-bold-600" for="exampleInputPassword1">ادخل تأكيد كلمة المرور الجديدة</label>
                                            <input type="password" id="fpassConf" class="form-control pb_height-50 reverse" required="required" autocomplete="off" maxlength="50" minlength="3" placeholder="ادخل تأكيد كلمة المرور الجديدة" />
                                                            <span id='fConpswrdErr' class="text-danger"></span>
                                                        </div>

                                                        <div class="button-panel mt-2">
                                            <a href="#" class="btn w-100 hover-up" aria-controls="step1" onclick="UpdatePassword()">إعادة تعيين كلمة المرور</a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </section>
    <script>
        $(document).ready(function(){
            CRNShowHide();
        })
        function CRNShowHide() {
            var customerType=$('input[name="CustomerType"]:checked').val();
            if(customerType==1){
                $("#crn").hide();
            }
            else{
                $("#crn").show();
            }
            }
        function chars(e) {
             var key = document.all ? key = e.keyCode : key = e.which;
             return ((key > 64 && key < 91) || (key > 96 && key < 123));
            }
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode < 47 || charCode > 57))
                return false;
            return true;
        }
        function submitSign() {
            // debugger
            var email = $("#eml").val();

            var valemail = 0;
            var pl = 0, cpl = 0;
            if (email != '') {
                var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                var res = regex.test(email);

                if (res) {
                    $('#emailErr').html('')

                }
                if (!res) {
                    $('#emailErr').html('يرجى إدخال بريد إلكتروني صحيح').addClass("text-danger");
                    $('#step1').show();
                    $('#step2').hide();
                    valemail = 1;
                    //return;
                }
            }
            if ($("#fnam").val() == '') {
            $('#fnameErr').html('هذا الحقل مطلوب').addClass("text-danger");
                //return;
            }
            if ($("#fnam").val() != '') {
                $('#fnameErr').html('');
            }
            if ($("#lnam").val() == '') {
            $('#lnameErr').html('هذا الحقل مطلوب').addClass("text-danger");
                // return;
            }
            if ($("#crnNumber").val() == '' && $('input[name="CustomerType"]:checked').val()==2) {
                $('#crnErr').html('هذا الحقل مطلوب').addClass("text-danger");
                // return;
            }
            if ($("#crnNumber").val() != '') {
                $('#crnErr').html('');
            }
            if ($("#lnam").val() != '') {
                $('#lnameErr').html('');
            }
            if ($("#eml").val() == '') {
                $('#emailErr').html('هذا الحقل مطلوب').addClass("text-danger");
                //  return;
            }

            if ($("#eml").val() != '') {
                $('#emailErr').html('');
            }
            if ($("#pswd").val() == '') {
                $('#pswrdErr').html('هذا الحقل مطلوب').addClass("text-danger");
                //return;
                pl = 1;
            }
            else {
                if ($("#pswd").val().length < 8) {
                $('#pswrdErr').html('يتطلب هذا الحقل ٨ أحرف على الأقل');
                    pl = 1;
                }
                else
                    $('#pswrdErr').html('');
            }

            if ($("#passConf").val() == '') {
            $('#ConpswrdErr').html('هذا الحقل مطلوب').addClass("text-danger");
                cpl = 1;
            }
            else {
                if ($("#passConf").val().length < 4) {
                $('#ConpswrdErr').html('يتطلب هذا الحقل ٨ أحرف على الأقل')
                    cpl = 1;
                }
                else
                    $('#ConpswrdErr').html('');
            }
            if (pl != 0 || cpl != 0 || valemail != 0) {
                $('#step2').hide();
                $('#step1').show();
                return false;
            }
            if ($("#crnNumber").val() == '' && $('input[name="CustomerType"]:checked').val() == 2) {
                $('#step2').hide();
                $('#step1').show();
                return false;
            }
            if ($('#pswd').val() == $('#passConf').val() && $("#fnam").val() != '' && $("#eml").val() != '' && $("#lnam").val() != '') {
                $('#message').html('').css('color', 'green');
                $('#step2').show();
                $('#step1').hide();
            }
            if ($('#pswd').val() != $('#passConf').val() && $("#passConf").val() != '') {
                $('#ConpswrdErr').html('كلمة المرور غير متطابقة، الرجاء إدخال كلمة مرور صحيحة').addClass("text-danger");
                $('#step2').hide();
                $('#step1').show();
                return false;

            }


            return true;
        };
        function verifyEmail() {
            // debugger
            var email = $("#eml").val(); //$(this).val();
            $("#emailErr").text(email == "" ? "EmailId Required" : "");
            if (email != '') {
                var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                var res = regex.test(email);
                if (res) {
                    $.ajax({
                        url: '/ar/User/GetVerifyEmail',
                        data: { 'Email': email },
                        datatype: 'json',
                        type: 'Get',
                        success: function (result) {
                            // debugger
                            var status = result.status;
                            if (!status) {
                                $('#emailErr').html(email + ' ' + result.message).addClass("text-danger");;
                                $("#eml").val("");

                                return
                            }
                            else {
                                $('#emailErr').html('')
        @*window.location.href = '@Url.Action("Index","Home")';
                                    $('#emailErr').html(result.Message).css('color', 'green');*@
                                }
                        },
                        error: function () {
                        $('#emailErr').html('حدث خطأ ما ، يرجى المحاولة مرة اخرى').addClass("text-danger");;
                        }
                    })
                }
                if (!res) {
                $('#emailErr').html('يرجى إدخال بريد إلكتروني صحيح').addClass("text-danger");
                    return;
                }
            }
        }
        function verifyMobile() {
            var mob = $("#mobileNo").val();
            if (mob == '') {
                $('#mobileErr').html('هذا الحقل مطلوب').addClass("text-danger");
                return;
            }
            else if (!isNaN(mob)) {
                if (mob[0] != 5) {
                $("#mobileErr").text("5xxxxxxxx رقم الجوال غير صحيح").addClass("text-danger");
                    return;
                }
                if (mob.length != 9) {
                    $('#mobileErr').html('5xxxxxxxx رقم الجوال غير صحيح').addClass("text-danger");
                    return;
                }
            }
            if (mob.length != 9) {
            $('#mobileErr').html('رقم الجوال غير صحيح').addClass("text-danger");
                return;
            }
            else {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetOtp", "User")',
                    contentType: "application/json; charset=utf-8",
                    data: { "MobileNo": mob },
                    datatype: "json",
                    success: function (data) {

                        var countDownDate = data.status;

                        if (!countDownDate) {
                            $('#mobileErr').html(data.message).addClass("text-danger");
                            return
                        }
                        else {
                            // debugger
                            var mno = $("#mobileNo").val();
                            $('#mobNo').html(mno);
                            $('#step2').hide();
                            $('#step3').show();
                            var dt = data.validTime;
                            var dateAr = dt.split('-');
                            var newDate = dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2];

                            var end = new Date(dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2]);

                            var _second = 1000;
                            var _minute = _second * 60;
                            var _hour = _minute * 60;
                            var _day = _hour * 24;
                            var timer = 1;

                            function showRemaining() {
                                var now = new Date();
                                var distance = end - now;
                                if (distance < 0) {
                                    clearInterval(timer);
                                document.getElementById('otpTimer').innerHTML = 'الوقت انتهى!';

                                    return;
                                }
                                var days = Math.floor(distance / _day);
                                var hours = Math.floor((distance % _day) / _hour);
                                var minutes = Math.floor((distance % _hour) / _minute);
                                var seconds = Math.floor((distance % _minute) / _second);

                                document.getElementById('otpTimer').innerHTML = minutes + ':';
                                document.getElementById('otpTimer').innerHTML += seconds + '';
                            }

                            timer = setInterval(showRemaining, 1000);


                        }
                    },
                    error: function () {
                        $('#mobileErr').html('حدث خطأ ما ، يرجى المحاولة مرة اخرى').addClass("text-danger");
                        return;
                    }
                });
                $('#mobileErr').html('');

            }

        }
        function SubmitForm() {

            var otpno = $("#otpNo").val();
            var mobileNo = $("#mobileNo").val();
            var firstName = $("#fnam").val();
            var lastName = $("#lnam").val();
            var EmailId = $("#eml").val();
            var Password = $("#pswd").val();
            var CRN = $("#crnNumber").val();
            $('#otpError').html("");
            $('#step2').hide();
            $('#step3').show();

            var userDetails = { 'FirstName': firstName, 'LastName': lastName, 'EmailId': EmailId, 'MobileNo': mobileNo, 'OtpCode': otpno, 'Password': Password,'CRN':CRN };
            var stringData = JSON.stringify(userDetails)

            $.ajax({

                /**/
            url: '/ar/User/Registration',
                /**/
                type: 'Post',
                datatype: 'json',
                data: { UserData: stringData },
                success: function (data) {
                    // debugger;
                    var countDownDate = data.status;
                    if (!countDownDate) {
                        $('#otpError').html(data.message).css('color', 'red');
                        //return;
                    }
                    else {
                        toastr.options = {
                            "closeButton": true,
                            "debug": true,
                            "newestOnTop": false,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": true,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };
                        toastr['info']('تم التسجيل بنجاح!');
                        window.location.href = "/ar/Home/NIndex"; 
                    }
                },
                error: function () {
                    //alert("Something went wrong, try after sometime.")
                    toastr.options = {
                            "closeButton": true,
                            "debug": true,
                            "newestOnTop": false,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": true,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };
                    toastr['error']('حدث خطأ ما ، يرجى المحاولة مرة اخرى');
                }

            })

        }
        $(function () {
            $('#fnam').keydown(function (e) {
                if (e.ctrlKey || e.altKey) {
                    e.preventDefault();
                } else {
                    var key = e.keyCode;
                    if (!((key == 8) || (key == 9) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                        e.preventDefault();
                    }
                }
            }); 
        });

        $(document).ready(function () {
            $('#pswd , #Password ,passConf ').on("cut copy paste", function (e) {
                e.preventDefault();
            }); 
        });

        $('#mobileNo').keypress(function (event) {
            console.log(event.which);
            if (event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault();
            }
        });
        $(document).ready(function () {
            $("#eml").blur(function () {
                // debugger;
                verifyEmail();
            });
            $("#eml").change(function () {
                // debugger;
                verifyEmail();
            });

            $("#fnam").blur(function () {
                // debugger;
                var val = $(this).val();
                $("#fnameErr").text(val == "" ? "هذا الحقل مطلوب" : "");
            });
            $("#lnam").blur(function () {
                // debugger;
                var val = $(this).val();
                $("#lnameErr").text(val == "" ? "هذا الحقل مطلوب" : "");
            });
            $("#pswd").blur(function () {
                // debugger;
                var val = $(this).val();
                $("#pswrdErr").text(val == "" ? "هذا الحقل مطلوب" : "");
            });
            $("#passConf").blur(function () {
                // debugger;
                var val = $(this).val();
                $("#ConpswrdErr").text(val == "" ? "هذا الحقل مطلوب" : "");
                if ($('#pswd').val() != $('#passConf').val() && $("#passConf").val() != '') {
                $('#ConpswrdErr').html('كلمة المرور غير متطابقة، الرجاء إدخال كلمة مرور صحيحة').addClass("text-danger");
                    return
                }
            });
        });
        $(window, document, undefined).ready(function () {

            $('#Signup input').blur(function () {
                var $this = $(this);
                if ($this.val())
                    $this.addClass('used');
                else
                    $this.removeClass('used');
            });
        });

    </script>
@*</body>

</html>*@