@{
    string strApiURL = Configuration["apiurl"];
}

@{
    ViewBag.Title = "Categories Page";
    Layout = "~/Views/Shared/Redesign/_CheckOutLayout.cshtml";
}
<link href="~/nest/wizard/css/style.css" rel="stylesheet" />
@*<div class="page-header breadcrumb-wrap">
    <div class="container">
        <div class="breadcrumb">
            <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
            <span></span> Shop
            <span></span> Checkout
        </div>
    </div>
</div>*@
<div class="container mb-80 mt-50">
    <div class="row">
        <div class="col-lg-8 mb-40">
            <h1 class="heading-2 mb-10">Checkout</h1>
            <div class="d-flex justify-content-between">
                <h6 class="text-body">There are <span class="text-brand">3</span> products in your cart</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <div class="row mb-50">
                    <form method="POST" id="signup-form" class="signup-form">
                        <h3>
                            <span class="title_text">Shipping</span>
                        </h3>
                        <fieldset>
                            <div class="fieldset-content">
                                <div class="form-group">
                                <div class="form-radio">
                                    <label for="delivery" class="form-label">Delivery Type:</label>
                                    <div class="form-radio-item">
                                        <input type="radio" name="delivery" value="1" id="shipping" checked="checked" />
                                        <label for="shipping">Shipping</label>

                                        <input type="radio" name="delivery" value="2" id="pickup" />
                                        <label for="pickup">Pick Up</label>
                                    </div>
                                </div>
                                </div>
                                <div class="form-group">
                                    <label for="username" class="form-label">When</label>
                                    <input type="date" name="username" id="username" placeholder="User Name" />
                                </div>
                                <div class="form-group">
                                    <label for="email" class="form-label">Time</label>
                                    <input type="time" name="time" id="time" placeholder="Your Email" />
                                </div>
                               @* <div class="form-textarea">
                                    <label for="about_us" class="form-label">Address</label>
                                    <textarea name="about_us" id="about_us" placeholder="Shipping address..."></textarea>
                                </div>*@
                            </div>
                            <div class="fieldset-footer">
                                <span>Step 1 of 3</span>
                            </div>
                        </fieldset>

                        <h3>
                            <span class="title_text">Confirm</span>
                        </h3>
                        <fieldset>

                            <div class="fieldset-content">
                                <div class="form-group">
                                    <label for="full_name" class="form-label">Full name</label>
                                    <input type="text" name="full_name" id="full_name" placeholder="Full Name" />
                                </div>

                                <div class="form-select">
                                    <label for="country" class="form-label">Country</label>
                                    <select name="country" id="country">
                                        <option value="">Country</option>
                                        <option value="Australia">Australia</option>
                                        <option value="USA">America</option>
                                    </select>
                                </div>

                                <div class="form-radio">
                                    <label for="gender" class="form-label">Gender</label>
                                    <div class="form-radio-item">
                                        <input type="radio" name="gender" value="male" id="male" checked="checked" />
                                        <label for="male">Male</label>

                                        <input type="radio" name="gender" value="female" id="female" />
                                        <label for="female">Female</label>
                                    </div>
                                </div>

                                
                            </div>

                            <div class="fieldset-footer">
                                <span>Step 2 of 3</span>
                            </div>

                        </fieldset>

                        <h3>
                            <span class="title_text">Payment Details</span>
                        </h3>
                        <fieldset>
                            <div class="fieldset-content">
                                <div class="form-radio">
                                    <label for="payment_type">Payment Type</label>
                                    <div class="form-radio-flex">
                                        <input type="radio" name="payment_type" id="payment_visa" value="payment_visa" checked="checked" />
                                        <label for="payment_visa"><img src="images/icon-visa.png" alt=""></label>

                                        <input type="radio" name="payment_type" id="payment_master" value="payment_master" />
                                        <label for="payment_master"><img src="images/icon-master.png" alt=""></label>

                                        <input type="radio" name="payment_type" id="payment_paypal" value="payment_paypal" />
                                        <label for="payment_paypal"><img src="images/icon-paypal.png" alt=""></label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="credit_card" class="form-label">Credit Card</label>
                                        <input type="text" name="credit_card" id="credit_card" />
                                    </div>
                                    <div class="form-group">
                                        <label for="cvc" class="form-label">CVC</label>
                                        <input type="text" name="cvc" id="cvc" />
                                    </div>
                                </div>
                                <div class="form-date">
                                    <label for="expiry_date">Expiration Date</label>
                                    <div class="form-flex">
                                        <div class="form-date-item">
                                            <select id="expiry_date" name="expiry_date"></select>
                                            <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                                        </div>
                                        <div class="form-date-item">
                                            <select id="expiry_year" name="expiry_year"></select>
                                            <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name_of_card" class="form-label">Name of card</label>
                                    <input type="text" name="name_of_card" id="name_of_card" />
                                </div>
                            </div>

                            <div class="fieldset-footer">
                                <span>Step 3 of 3</span>
                            </div>
                        </fieldset>
                    </form>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="border p-40 cart-totals ml-30 mb-50">
                <div class="d-flex align-items-end justify-content-between mb-30">
                    <h4>Your Order</h4>
                    <h6 class="text-muted">Subtotal</h6>
                </div>
                <div class="divider-2 mb-30"></div>
                <div class="table-responsive order_table checkout">
                    <table class="table no-border">
                        <tbody>
                            <tr>
                                <td class="image product-thumbnail"><img src="/nest/imgs/shop/product-1-1.jpg" alt="#"></td>
                                <td>
                                    <h6 class="w-160 mb-5"><a href="shop-product-full.html" class="text-heading">Yidarton Women Summer Blue</a></h6></span>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%">
                                            </div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                    </div>
                                </td>
                                <td>
                                    <h6 class="text-muted pl-20 pr-20">x 1</h6>
                                </td>
                                <td>
                                    <h4 class="text-brand">$13.3</h4>
                                </td>
                            </tr>
                            <tr>
                                <td class="image product-thumbnail"><img src="/nest/imgs/shop/product-2-1.jpg" alt="#"></td>
                                <td>
                                    <h6 class="w-160 mb-5"><a href="shop-product-full.html" class="text-heading">Seeds of Change Organic Quinoa</a></h6></span>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%">
                                            </div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                    </div>
                                </td>
                                <td>
                                    <h6 class="text-muted pl-20 pr-20">x 1</h6>
                                </td>
                                <td>
                                    <h4 class="text-brand">$15.0</h4>
                                </td>
                            </tr>
                            <tr>
                                <td class="image product-thumbnail"><img src="/nest/imgs/shop/product-3-1.jpg" alt="#"></td>
                                <td>
                                    <h6 class="w-160 mb-5"><a href="shop-product-full.html" class="text-heading">Angie’s Boomchickapop Sweet </a></h6></span>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%">
                                            </div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                    </div>
                                </td>
                                <td>
                                    <h6 class="text-muted pl-20 pr-20">x 1</h6>
                                </td>
                                <td>
                                    <h4 class="text-brand">$17.2</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @*<div class="payment ml-30">
                <h4 class="mb-30">Payment</h4>
                <div class="payment_option">
                    <div class="custome-radio">
                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios3" checked="">
                        <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">Direct Bank Transfer</label>
                    </div>
                    <div class="custome-radio">
                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios4" checked="">
                        <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#checkPayment" aria-controls="checkPayment">Cash on delivery</label>
                    </div>
                    <div class="custome-radio">
                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios5" checked="">
                        <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">Online Getway</label>
                    </div>
                </div>
                <div class="payment-logo d-flex">
                    <img class="mr-15" src="/nest/imgs/theme/icons/payment-paypal.svg" alt="">
                    <img class="mr-15" src="/nest/imgs/theme/icons/payment-visa.svg" alt="">
                    <img class="mr-15" src="/nest/imgs/theme/icons/payment-master.svg" alt="">
                    <img src="/nest/imgs/theme/icons/payment-zapper.svg" alt="">
                </div>
                <a href="#" class="btn btn-fill-out btn-block mt-30">Place an Order<i class="fi-rs-sign-out ml-15"></i></a>
            </div>*@
        </div>
    </div>
</div>
 <!-- JS -->
    <script src="~/nest/wizard/vendor/jquery/jquery.min.js"></script>
    <script src="~/nest/wizard/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/nest/wizard/vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/nest/wizard/vendor/jquery-steps/jquery.steps.min.js"></script>
    <script src="~/nest/wizard/vendor/minimalist-picker/dobpicker.js"></script>
    <script src="~/nest/wizard/vendor/jquery.pwstrength/jquery.pwstrength.js"></script>
    <script src="~/nest/wizard/js/main.js"></script>