@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/Redesign/_StoreLayout.cshtml";
}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<div class="page-content pt-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-12 m-auto">
                <section class="mb-30">
                    <h2 class="title style-3 mb-40 text-center">Welcome to Nawadar Al Misk</h2>
                    <div class="row">
                        <div class="col-lg-4 mb-lg-0 mb-md-5 mb-sm-5">
                            <h6 class="mb-5 text-brand">Our Team</h6>
                            <h1 class="mb-30">Meet Our Expert Team</h1>
                            <p class="mb-30">Proin ullamcorper pretium orci. Donec necscele risque leo. Nam massa dolor imperdiet neccon sequata congue idsem. Maecenas malesuada faucibus finibus.</p>
                            <p class="mb-30">Proin ullamcorper pretium orci. Donec necscele risque leo. Nam massa dolor imperdiet neccon sequata congue idsem. Maecenas malesuada faucibus finibus.</p>
                            <h6 class="mb-5 text-brand">Business Since: <span class="text-dark">2022</span></h6>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="team-card">
                                        <img src="~/nest/imgs/banner/banner-11.png" alt="" />
                                        <div class="content text-center">
                                            <h4 class="mb-5">H. Merinda</h4>
                                            <div class="hotline d-none d-lg-flex">
                                                <img src="/nest/imgs/theme/icons/icon-headphone.svg" alt="hotline" />
                                                <p>1900 - 888<span>24/7 Support Center</span></p>
                                            </div>
                                            <div class="social-network mt-20">
                                                <a href="#"><img src="/nest/imgs/theme/icons/icon-facebook-brand.svg" alt="" /></a>
                                                <a href="#"><img src="/nest/imgs/theme/icons/icon-twitter-brand.svg" alt="" /></a>
                                                <a href="#"><img src="/nest/imgs/theme/icons/icon-instagram-brand.svg" alt="" /></a>
                                                <a href="#"><img src="/nest/imgs/theme/icons/icon-youtube-brand.svg" alt="" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="team-card">
                                        <h6 class="mb-5 text-brand style-3">Office</h6>
                                        <p>205 North Michigan Avenue, Suite 810</p>
                                        <p>Chicago, 606601, USA</p>
                                        <p><b>Phone:</b> 59389344</p>
                                        <p><b>Email: </b> support@nawadaralimisk.com</p>
                                        <br />
                                        <h6 class="mb-5 text-brand">Store Policies</h6>
                                        <p>
                                            <a>Terms of sales</a>
                                        </p><p>
                                            <a>Return Policy</a>
                                        </p><p>
                                            <a>Reviews</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <section class="container mb-50 d-none d-md-block">
        <div class="border-radius-15 overflow-hidden">
            <div id="map-panes" class="leaflet-map"></div>
        </div>
    </section>
</div>
