@model Customer.Models.CouponsDTO
@{
    ViewBag.Title = "CHECKCLIK | Coupons";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
 

    <section class="myorders-banner text-center">
        <h2><strong>Coupons</strong></h2>
        <div class="text-center">
            <p><span id="strCount"></span> Coupons Available</p>

        </div>
    </section>

    <section class="coupons-list mt-20">
        <div class="container">
            <div class="row">
                <div id="div_Coupons"></div>
            </div>
        </div>
    </section>
     
    <script type="text/javascript">
        $(document).ready(function () {
            var pageNumber = 1;
            GetCoupons(pageNumber);
        }); 
        function GetCoupons(pageNumber) { 
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CouponsofCustomers")',
                datatype: "json",
                data: { pageNumber: pageNumber },
                success: function (data) {
                    // debugger;
                    if (data != "") {
                        $('#div_Coupons').html('');
                        $('#div_Coupons').html(data.result);
                    }
                    //else {
                    //    location.reload();
                    //}
                },
                complete: function () {

                    if ($("#hdncount").val() == "" || $("#hdncount").val() == undefined) {
                        $("#strCount").text('not');
                    }
                    else {
                        $("#strCount").text($("#hdncount").val());
                    }
                },
                onerror: function (data) {
                    $('.loader').hide();
                }
            });
        }
    </script>

