/*a {
    color: #003580;
    background-color: #003580;
}*/

.store-categories-banner.main-menu .badge,
.store-sub-categories-banner.main-menu .badge,
.search__bar.input-group .input-group-btn .btn,
.btn-danger,
.form-wrapper .button-panel .button,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.sub-header .text-right a .badge-default{
    background-color: #003580 !important;
}

.search__bar.input-group .input-group-btn .btn,
.search__bar.input-group .form-control:focus,
.btn-danger {
    border-color: #003580 !important;
}

#msform input:focus, #msform textarea:focus {
    border: 1px solid #003580 !important;
}

.product-detail-tabs .nav-tabs > li.active > a,
.myorder-tabs .nav-tabs > li.active > a,
.wishlist-tabs .nav-tabs > li.active > a {
    border-bottom: 2px solid #003580 !important;
}

/*.breadcrumb .breadcrumb-item i,*/
.Product-cart-list .cart-pricing .table tr:last-child,
.item-pending-details .cart-pricing .table tr:last-child,
.user-menu ul li a i,
.user-details .form-wrapper a small,
/*.stores-banner .breadcrumb-item i,
.store-products-details .breadcrumb-item i,*/
.product-details .social-icons a:hover,
.rating-model .rating-stars ul > li.star.hover > i.fa,
.rating-model .rating-stars ul > li.star.selected > i.fa,
.rating-display .rating-stars ul li.selected i.fa,
.sub-header .left i {
    color: #003580 !important;
}
