/* _content/CheckClikClient/Views/Shared/Redesign/_HomeLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-395omepob4] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-395omepob4] {
  color: #0077cc;
}

.btn-primary[b-395omepob4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-395omepob4], .nav-pills .show > .nav-link[b-395omepob4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-395omepob4] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-395omepob4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-395omepob4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-395omepob4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-395omepob4] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/Redesign/_MenuLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-82e8da16cr] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-82e8da16cr] {
  color: #0077cc;
}

.btn-primary[b-82e8da16cr] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-82e8da16cr], .nav-pills .show > .nav-link[b-82e8da16cr] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-82e8da16cr] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-82e8da16cr] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-82e8da16cr] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-82e8da16cr] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-82e8da16cr] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/Redesign/_StoreLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-n83pwyczuw] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-n83pwyczuw] {
  color: #0077cc;
}

.btn-primary[b-n83pwyczuw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-n83pwyczuw], .nav-pills .show > .nav-link[b-n83pwyczuw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-n83pwyczuw] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-n83pwyczuw] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-n83pwyczuw] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-n83pwyczuw] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-n83pwyczuw] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-cu00n5ocnz] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-cu00n5ocnz] {
  color: #0077cc;
}

.btn-primary[b-cu00n5ocnz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-cu00n5ocnz], .nav-pills .show > .nav-link[b-cu00n5ocnz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-cu00n5ocnz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-cu00n5ocnz] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-cu00n5ocnz] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-cu00n5ocnz] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-cu00n5ocnz] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew - Copy.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-96b66btm6a] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-96b66btm6a] {
  color: #0077cc;
}

.btn-primary[b-96b66btm6a] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-96b66btm6a], .nav-pills .show > .nav-link[b-96b66btm6a] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-96b66btm6a] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-96b66btm6a] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-96b66btm6a] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-96b66btm6a] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-96b66btm6a] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-s3ngt62fsr] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-s3ngt62fsr] {
  color: #0077cc;
}

.btn-primary[b-s3ngt62fsr] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-s3ngt62fsr], .nav-pills .show > .nav-link[b-s3ngt62fsr] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-s3ngt62fsr] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-s3ngt62fsr] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-s3ngt62fsr] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-s3ngt62fsr] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-s3ngt62fsr] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew_CartCheckout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-xd5c2ar3h4] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xd5c2ar3h4] {
  color: #0077cc;
}

.btn-primary[b-xd5c2ar3h4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-xd5c2ar3h4], .nav-pills .show > .nav-link[b-xd5c2ar3h4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xd5c2ar3h4] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xd5c2ar3h4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xd5c2ar3h4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-xd5c2ar3h4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xd5c2ar3h4] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew_CartDetails.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-3cg1x1stkz] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-3cg1x1stkz] {
  color: #0077cc;
}

.btn-primary[b-3cg1x1stkz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-3cg1x1stkz], .nav-pills .show > .nav-link[b-3cg1x1stkz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-3cg1x1stkz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-3cg1x1stkz] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-3cg1x1stkz] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-3cg1x1stkz] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-3cg1x1stkz] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew_Empty.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-gn57c4cd57] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-gn57c4cd57] {
  color: #0077cc;
}

.btn-primary[b-gn57c4cd57] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-gn57c4cd57], .nav-pills .show > .nav-link[b-gn57c4cd57] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-gn57c4cd57] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-gn57c4cd57] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-gn57c4cd57] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-gn57c4cd57] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-gn57c4cd57] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew_PaymentConfirm.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-zw88upzxuj] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-zw88upzxuj] {
  color: #0077cc;
}

.btn-primary[b-zw88upzxuj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-zw88upzxuj], .nav-pills .show > .nav-link[b-zw88upzxuj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-zw88upzxuj] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-zw88upzxuj] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-zw88upzxuj] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-zw88upzxuj] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-zw88upzxuj] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew_ProductDetails.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-svd3mdkhfw] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-svd3mdkhfw] {
  color: #0077cc;
}

.btn-primary[b-svd3mdkhfw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-svd3mdkhfw], .nav-pills .show > .nav-link[b-svd3mdkhfw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-svd3mdkhfw] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-svd3mdkhfw] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-svd3mdkhfw] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-svd3mdkhfw] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-svd3mdkhfw] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew_ProductDetails1.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-6fu2j94ey3] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-6fu2j94ey3] {
  color: #0077cc;
}

.btn-primary[b-6fu2j94ey3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-6fu2j94ey3], .nav-pills .show > .nav-link[b-6fu2j94ey3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-6fu2j94ey3] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-6fu2j94ey3] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-6fu2j94ey3] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-6fu2j94ey3] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-6fu2j94ey3] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew_Profile.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-qz6lj4i7zq] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-qz6lj4i7zq] {
  color: #0077cc;
}

.btn-primary[b-qz6lj4i7zq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-qz6lj4i7zq], .nav-pills .show > .nav-link[b-qz6lj4i7zq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-qz6lj4i7zq] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-qz6lj4i7zq] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-qz6lj4i7zq] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-qz6lj4i7zq] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-qz6lj4i7zq] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew_StoreDetails.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-jbemnad9j2] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-jbemnad9j2] {
  color: #0077cc;
}

.btn-primary[b-jbemnad9j2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-jbemnad9j2], .nav-pills .show > .nav-link[b-jbemnad9j2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-jbemnad9j2] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-jbemnad9j2] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-jbemnad9j2] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-jbemnad9j2] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-jbemnad9j2] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
