/* _content/CheckClikClient/Areas/Ar/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-85b2x0vcv7] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-85b2x0vcv7] {
  color: #0077cc;
}

.btn-primary[b-85b2x0vcv7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-85b2x0vcv7], .nav-pills .show > .nav-link[b-85b2x0vcv7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-85b2x0vcv7] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-85b2x0vcv7] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-85b2x0vcv7] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-85b2x0vcv7] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-85b2x0vcv7] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Areas/Ar/Views/Shared/_LayoutNew - Copy.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-fm2nsujqph] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-fm2nsujqph] {
  color: #0077cc;
}

.btn-primary[b-fm2nsujqph] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-fm2nsujqph], .nav-pills .show > .nav-link[b-fm2nsujqph] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-fm2nsujqph] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-fm2nsujqph] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-fm2nsujqph] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-fm2nsujqph] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-fm2nsujqph] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Areas/Ar/Views/Shared/_LayoutNew.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-f6isnvif1j] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-f6isnvif1j] {
  color: #0077cc;
}

.btn-primary[b-f6isnvif1j] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-f6isnvif1j], .nav-pills .show > .nav-link[b-f6isnvif1j] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-f6isnvif1j] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-f6isnvif1j] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-f6isnvif1j] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-f6isnvif1j] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-f6isnvif1j] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Areas/Ar/Views/Shared/_LayoutNew_CartCheckout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-a730ke35jn] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-a730ke35jn] {
  color: #0077cc;
}

.btn-primary[b-a730ke35jn] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-a730ke35jn], .nav-pills .show > .nav-link[b-a730ke35jn] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-a730ke35jn] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-a730ke35jn] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-a730ke35jn] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-a730ke35jn] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-a730ke35jn] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Areas/Ar/Views/Shared/_LayoutNew_CartDetails.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-mdg9idzemp] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-mdg9idzemp] {
  color: #0077cc;
}

.btn-primary[b-mdg9idzemp] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-mdg9idzemp], .nav-pills .show > .nav-link[b-mdg9idzemp] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-mdg9idzemp] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-mdg9idzemp] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-mdg9idzemp] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-mdg9idzemp] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-mdg9idzemp] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Areas/Ar/Views/Shared/_LayoutNew_Empty.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ju6bcpklzs] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ju6bcpklzs] {
  color: #0077cc;
}

.btn-primary[b-ju6bcpklzs] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ju6bcpklzs], .nav-pills .show > .nav-link[b-ju6bcpklzs] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ju6bcpklzs] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ju6bcpklzs] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ju6bcpklzs] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ju6bcpklzs] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ju6bcpklzs] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Areas/Ar/Views/Shared/_LayoutNew_PaymentConfirm.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-t9iphcf06r] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-t9iphcf06r] {
  color: #0077cc;
}

.btn-primary[b-t9iphcf06r] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-t9iphcf06r], .nav-pills .show > .nav-link[b-t9iphcf06r] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-t9iphcf06r] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-t9iphcf06r] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-t9iphcf06r] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-t9iphcf06r] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-t9iphcf06r] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Areas/Ar/Views/Shared/_LayoutNew_ProductDetails.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-o65lj13lbt] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-o65lj13lbt] {
  color: #0077cc;
}

.btn-primary[b-o65lj13lbt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-o65lj13lbt], .nav-pills .show > .nav-link[b-o65lj13lbt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-o65lj13lbt] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-o65lj13lbt] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-o65lj13lbt] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-o65lj13lbt] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-o65lj13lbt] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Areas/Ar/Views/Shared/_LayoutNew_ProductDetails1.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-620p5wxjzj] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-620p5wxjzj] {
  color: #0077cc;
}

.btn-primary[b-620p5wxjzj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-620p5wxjzj], .nav-pills .show > .nav-link[b-620p5wxjzj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-620p5wxjzj] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-620p5wxjzj] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-620p5wxjzj] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-620p5wxjzj] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-620p5wxjzj] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Areas/Ar/Views/Shared/_LayoutNew_Profile.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-eb9m1i5zpe] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-eb9m1i5zpe] {
  color: #0077cc;
}

.btn-primary[b-eb9m1i5zpe] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-eb9m1i5zpe], .nav-pills .show > .nav-link[b-eb9m1i5zpe] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-eb9m1i5zpe] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-eb9m1i5zpe] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-eb9m1i5zpe] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-eb9m1i5zpe] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-eb9m1i5zpe] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Areas/Ar/Views/Shared/_LayoutNew_StoreDetails.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-rkzje4uo7u] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rkzje4uo7u] {
  color: #0077cc;
}

.btn-primary[b-rkzje4uo7u] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rkzje4uo7u], .nav-pills .show > .nav-link[b-rkzje4uo7u] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rkzje4uo7u] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rkzje4uo7u] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rkzje4uo7u] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rkzje4uo7u] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-rkzje4uo7u] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-cu00n5ocnz] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-cu00n5ocnz] {
  color: #0077cc;
}

.btn-primary[b-cu00n5ocnz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-cu00n5ocnz], .nav-pills .show > .nav-link[b-cu00n5ocnz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-cu00n5ocnz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-cu00n5ocnz] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-cu00n5ocnz] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-cu00n5ocnz] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-cu00n5ocnz] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew - Copy.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-96b66btm6a] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-96b66btm6a] {
  color: #0077cc;
}

.btn-primary[b-96b66btm6a] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-96b66btm6a], .nav-pills .show > .nav-link[b-96b66btm6a] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-96b66btm6a] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-96b66btm6a] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-96b66btm6a] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-96b66btm6a] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-96b66btm6a] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-s3ngt62fsr] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-s3ngt62fsr] {
  color: #0077cc;
}

.btn-primary[b-s3ngt62fsr] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-s3ngt62fsr], .nav-pills .show > .nav-link[b-s3ngt62fsr] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-s3ngt62fsr] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-s3ngt62fsr] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-s3ngt62fsr] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-s3ngt62fsr] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-s3ngt62fsr] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew_CartCheckout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-xd5c2ar3h4] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xd5c2ar3h4] {
  color: #0077cc;
}

.btn-primary[b-xd5c2ar3h4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-xd5c2ar3h4], .nav-pills .show > .nav-link[b-xd5c2ar3h4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xd5c2ar3h4] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xd5c2ar3h4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xd5c2ar3h4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-xd5c2ar3h4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xd5c2ar3h4] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew_CartDetails.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-3cg1x1stkz] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-3cg1x1stkz] {
  color: #0077cc;
}

.btn-primary[b-3cg1x1stkz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-3cg1x1stkz], .nav-pills .show > .nav-link[b-3cg1x1stkz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-3cg1x1stkz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-3cg1x1stkz] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-3cg1x1stkz] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-3cg1x1stkz] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-3cg1x1stkz] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew_Empty.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-gn57c4cd57] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-gn57c4cd57] {
  color: #0077cc;
}

.btn-primary[b-gn57c4cd57] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-gn57c4cd57], .nav-pills .show > .nav-link[b-gn57c4cd57] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-gn57c4cd57] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-gn57c4cd57] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-gn57c4cd57] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-gn57c4cd57] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-gn57c4cd57] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew_PaymentConfirm.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-zw88upzxuj] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-zw88upzxuj] {
  color: #0077cc;
}

.btn-primary[b-zw88upzxuj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-zw88upzxuj], .nav-pills .show > .nav-link[b-zw88upzxuj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-zw88upzxuj] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-zw88upzxuj] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-zw88upzxuj] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-zw88upzxuj] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-zw88upzxuj] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew_ProductDetails.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-svd3mdkhfw] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-svd3mdkhfw] {
  color: #0077cc;
}

.btn-primary[b-svd3mdkhfw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-svd3mdkhfw], .nav-pills .show > .nav-link[b-svd3mdkhfw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-svd3mdkhfw] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-svd3mdkhfw] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-svd3mdkhfw] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-svd3mdkhfw] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-svd3mdkhfw] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew_ProductDetails1.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-6fu2j94ey3] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-6fu2j94ey3] {
  color: #0077cc;
}

.btn-primary[b-6fu2j94ey3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-6fu2j94ey3], .nav-pills .show > .nav-link[b-6fu2j94ey3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-6fu2j94ey3] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-6fu2j94ey3] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-6fu2j94ey3] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-6fu2j94ey3] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-6fu2j94ey3] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew_Profile.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-qz6lj4i7zq] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-qz6lj4i7zq] {
  color: #0077cc;
}

.btn-primary[b-qz6lj4i7zq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-qz6lj4i7zq], .nav-pills .show > .nav-link[b-qz6lj4i7zq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-qz6lj4i7zq] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-qz6lj4i7zq] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-qz6lj4i7zq] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-qz6lj4i7zq] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-qz6lj4i7zq] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CheckClikClient/Views/Shared/_LayoutNew_StoreDetails.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-jbemnad9j2] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-jbemnad9j2] {
  color: #0077cc;
}

.btn-primary[b-jbemnad9j2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-jbemnad9j2], .nav-pills .show > .nav-link[b-jbemnad9j2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-jbemnad9j2] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-jbemnad9j2] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-jbemnad9j2] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-jbemnad9j2] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-jbemnad9j2] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
