@{
    ViewBag.Title = "Terms&Conditions";
    Layout = "~/Views/Shared/_LayoutNew_Empty.cshtml";
}
 
<!-- END section -->
<div class="container">
    <h1>Terms and Conditions</h1>
    <div class="devider"></div>

    <p class="mb-4">Latest version (June 12, 2021)</p>

    <h3>Introduction</h3>

    <p>We are proud of your visit to <strong class="bold-700 brand_title">CHECKCLIK</strong>.com.</p>
    <p>"<strong class="bold-700 brand_title">CHECKCLIK</strong>" platform works as is an intermediate electronic platform between "sellers" on the one hand, and "customers" on the other, allowing sellers to display their products via the platform. And allows for the customers the freedom of choice of suitable products and purchase through stores registered in  <strong class="bold-700 brand_title">CHECKCLIK</strong> .We offer these terms and conditions to govern and regulate legal relations between <strong class="bold-700 brand_title">CHECKCLIK</strong> platform and its users of sellers and customers, so please read these terms with due attention before using the platform or requesting to display or purchase products through the stores registered in  <strong class="bold-700 brand_title">CHECKCLIK</strong> .</p>


    <h3>1. Definitions</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i> This item includes some definitions for the terms contained in this agreement, and unless the context otherwise requires, the following terms will have the meanings  and interpretations referred to.</p></li>
        <li><p><i class="fa fa-circle"></i>  "<strong class="bold-700">Platform</strong>", "<strong class="bold-700">Website</strong>", "<strong class="bold-700 brand_title">CHECKCLIK</strong>", "<strong class="bold-700">We</strong>" or "<strong class="bold-700">Our</strong>" refers to <strong class="bold-700 brand_title">CHECKCLIK</strong> platform www.<strong class="bold-700 brand_title">CHECKCLIK</strong>.com and <strong class="bold-700 brand_title">CHECKCLIK</strong> L.L.C FOR TRADING in the Kingdom of Saudi Arabia.</p></li>
        <li><p><i class="fa fa-circle"></i>  "<strong class="bold-700">Seller</strong>" refers to the person who uses, visits or requests to sell products through <strong class="bold-700 brand_title">CHECKCLIK</strong> platform or visits the content available through the platform, who may be of individuals such as productive families or companies or any other legal entity as service providers and sellers of goods.</p></li>
        <li><p><i class="fa fa-circle"></i>  "<strong class="bold-700">Store</strong>" refers to the page or the online store dedicated for the seller in <strong class="bold-700 brand_title">CHECKCLIK</strong> platform, through which he is able to display, market and sell products electronically through <strong class="bold-700 brand_title">CHECKCLIK</strong>.</p></li>
        <li><p><i class="fa fa-circle"></i>  "<strong class="bold-700">Customer</strong>" refers to each person uses the website for the purposes of purchase products available through the stores available through it, according to the terms and conditions specified by the seller, the terms and conditions specified by <strong class="bold-700 brand_title">CHECKCLIK</strong>.</p></li>
        <li><p><i class="fa fa-circle"></i>  "<strong class="bold-700">Products</strong>", "goods" or "services" refers to all products, goods and services that sellers displayed for sale via <strong class="bold-700 brand_title">CHECKCLIK</strong>, which shall fall within the categories available through <strong class="bold-700 brand_title">CHECKCLIK</strong>.</p></li>
        <li><p><i class="fa fa-circle"></i>  "<strong class="bold-700">Order</strong>" refers to the products that the customer decided to purchase through the stores available in <strong class="bold-700 brand_title">CHECKCLIK</strong> website and already submitted a purchase  order about.</p></li>
        <li><p><i class="fa fa-circle"></i>  "<strong class="bold-700">Laws</strong>" refer to the laws applicable in the Kingdom of Saudi Arabia.</p></li>
        <li><p><i class="fa fa-circle"></i>  "<strong class="bold-700">Agreement</strong>" refers to this document and what in includes in relation to the terms, conditions and the privacy policy.</p></li>
        <li><p><i class="fa fa-circle"></i>  "<strong class="bold-700">Customer agreement</strong>" refers to the terms and policies that the seller adds in his relationship with the customer, which vary from one seller to another.</p></li>
    </ul>

    <h3>2. Description of Services</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700 brand_title">CHECKCLIK</strong> allows the seller to create his own online store through <strong class="bold-700 brand_title">CHECKCLIK</strong> to be able to display products online, market products and sell them electronically. <strong class="bold-700 brand_title">CHECKCLIK</strong> provides specific classifications for the products and their kinds to make it easy for the seller to create his online store according to the nature of his trade.</p></li>
        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700 brand_title">CHECKCLIK</strong> offers great flexibility for sellers in determining their terms and policies in dealing with customers, so each seller while creating his online store can put conditions which regulate his legal relationship with the customer  like selling and returning terms, and that's within the options for the conditions which is provided to him by <strong class="bold-700 brand_title">CHECKCLIK</strong>. Knowing that the conditions put by the seller does not eliminate the terms, conditions and the privacy policy of <strong class="bold-700 brand_title">CHECKCLIK</strong>  and shall not conflict with them as well.</p></li>
        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700 brand_title">CHECKCLIK</strong> provides the seller with different ways to ship the products to the customers, either the seller ships and delivers the products to the customers directly or the shipping is done through the Logistics Support Company.</p></li>
        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700 brand_title">CHECKCLIK</strong> platform provides payment methods suitable for all sellers registered in <strong class="bold-700 brand_title">CHECKCLIK</strong>, and financial transactions are settled according to the website's payment policy.</p></li>
    </ul>

    <h3>3. Conditions of Seller Membership</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  It shall be stipulated that the seller registers in its trade name in <strong class="bold-700 brand_title">CHECKCLIK</strong> not unknown, untrue or misleading names and once you register as a seller, you acknowledge that you are the legal representative of this person.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall provide us with membership registration data, which may include, but is not limited to (name/company name, commercial register, address, email, mobile number, working hours, customer agreement).</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall register for membership on <strong class="bold-700 brand_title">CHECKCLIK</strong> platform with his mobile number and email, so that he can receive any notifications sent to him from <strong class="bold-700 brand_title">CHECKCLIK</strong> platform.</p></li>
        <li><p><i class="fa fa-circle"></i>  Any seller is forbidden to register on our website with more than one account and we will delete all accounts if we found that out.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall maintain his username and password, and not disclose them to others, and in all cases the customer is committed to all the transactions made through his account on <strong class="bold-700 brand_title">CHECKCLIK</strong>.</p></li>
        <li><p><i class="fa fa-circle"></i>  The membership on <strong class="bold-700 brand_title">CHECKCLIK</strong> is provided with a licensing system for using the membership, so we have the right to revoke this License and terminate the membership at any time without providing any reasons.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller releases our legal responsibility for all transactions and acts that take place through his account in <strong class="bold-700 brand_title">CHECKCLIK</strong>.</p></li>
        <li><p><i class="fa fa-circle"></i>  All fees and subscriptions of the seller's account on <strong class="bold-700 brand_title">CHECKCLIK</strong> are non-refundable.</p></li>

        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700">Subscriptions</strong></p></li>
        <li class="pl-4"><span>-</span><p>The seller can create more than one store and more than one branch for the same online store of his own.</p></li>
        <li class="pl-4"><span>-</span><p><strong class="bold-700 brand_title">CHECKCLIK</strong> gives the seller a 25% discount in case of subscribing to the second branch, and a 50% discount in case of subscribing to the third branch, and more than that in case of subscribing to the 12-month package.</p></li>
        <li class="pl-4"><span>-</span><p>The seller pays for subscriptions in accordance with the available subscription packages which may change from time to time, and he knows and agrees that all subscription amounts are non-refundable.</p></li>
        <li class="pl-4"><span>-</span><p>You know and agree that <strong class="bold-700 brand_title">CHECKCLIK</strong> shall be bound not to remind you if the subscription period expires or would soon expire.</p> </li>

        <li>
            <i class="fa fa-circle"></i>
            <p><strong class="bold-700">Create a user account</strong></p>

        </li>
        <li><p>The account user is a person follows the seller as one of his employees or followers whom the seller grants access to his account and the control panel. The seller can create user accounts and allocate their powers. The creation of the user account is subject to the following controls:</p></li>
        <li class="pl-4"><span>-</span><p>Amounts paid for account creation are non-refundable.</p></li>
        <li class="pl-4"><span>-</span><p>The seller releases <strong class="bold-700 brand_title">CHECKCLIK</strong> responsibility for the use of the account and all transactions that take place through it and for all persons who use the account, whether their use is authorized by the seller or not.</p></li>
        <li class="pl-4"><span>-</span><p>The seller shall renew the subscription on the renewal date in order to avoid suspension of the account, and the seller knows and agrees that <strong class="bold-700 brand_title">CHECKCLIK</strong> platform shall be bound not to remind or notify the seller in the event of the subscription expires or would soon expire.</p></li>
        <li class="pl-4"><span>-</span><p>To ensure the functioning of the user's account, the seller and his users shall comply with all the terms and conditions contained in this document and the privacy policy.</p></li>
    </ul>

    <h3>4. Electronic Contract</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  This document is an electronic contract between <strong class="bold-700 brand_title">CHECKCLIK</strong> and seller and electronic contract between <strong class="bold-700 brand_title">CHECKCLIK</strong> and customer. This contract is an alternative to any written, printed or electronic contracts required to be signed between the parties, and this document is legally approved before all courts and government bodies in case of a dispute over any service related to <strong class="bold-700 brand_title">CHECKCLIK</strong>.</p></li>
        <li><i class="fa fa-circle"></i> <p><strong class="bold-700 brand_title">CHECKCLIK</strong> shall be bound to add the "Customer Agreement" which includes the terms and regulatory policies that are serve as a binding electronic contract for sellers on the one hand and customers on the other.</p></li>
    </ul>

    <h3>5. Legal Age</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  The use of <strong class="bold-700 brand_title">CHECKCLIK</strong> and/or sale the products through the platform requires the seller to be 18 years of age or older. <strong class="bold-700 brand_title">CHECKCLIK</strong> platform will not be legally obliged to verify the seller's legal age, and the platform is used and any data is provided through it on the seller's responsibility alone.</p></li>
    </ul>

    <h3>6. Official documents</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  The seller shall be bound to provide all official documents required by <strong class="bold-700 brand_title">CHECKCLIK</strong>, which include (license, commercial register, and company data) and other documents and data.</p></li>
        <li><p><i class="fa fa-circle"></i>  The <strong class="bold-700 brand_title">CHECKCLIK</strong>'s administration reviews all the official documents and data provided by the seller, and we have the right to accept or reject registration on the website.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller is legally responsible before all governmental and non-governmental entities and individuals for any data or documents it provides through the platform.</p></li>
        <li><p><i class="fa fa-circle"></i>  If the seller wishes to send tax certificate or a new commercial register, he can do so by uploading the required documents from "Attach File” option on the control panel of the seller's account.</p></li>
        <li><p><i class="fa fa-circle"></i>  We allow you to update your account data whenever there is any change, through your control panel in <strong class="bold-700 brand_title">CHECKCLIK</strong> platform.</p></li>
    </ul>

    <h3>7. Legal notices</h3>
    <ul>
        <li><p>The seller agrees to receive all notifications and notices from the platform's administration electronically, and under this agreement he waives the receipt of any written or official notifications required under applicable laws, and acknowledges that notices sent electronically by the platform via the platform, email or mobile number are taken into the legal consideration in the relationship between the parties.</p></li>
    </ul>

    <h3>8. Conditions of Use</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  Products are provided through <strong class="bold-700 brand_title">CHECKCLIK</strong> in accordance with the laws applicable in the Kingdom of Saudi Arabia, and therefore you comply with these laws regardless of which country you belong to.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall be legally qualified to enter into this agreement with us, has reached the legal age necessary to carry out his activity if he is an individual and has extracted all documents from licenses and permits if he is a legal entity.</p></li>
        <li><p><i class="fa fa-circle"></i>  Any information required shall be entered on the platform correctly and you shall be responsible for it, its recency, quality, and legality, and you are obligated to update it whenever any change occurs.</p></li>
        <li><p><i class="fa fa-circle"></i>  The platform shall be used legally and according to the goals and purposes announced by us, and this use shall be serious and that sellers refrain from using the platform for the purposes of fraud and deception, illegal communication, fake communication or harm to any party, and it is prohibited to carry out any business that would expose <strong class="bold-700 brand_title">CHECKCLIK</strong>  to legal accountability.</p></li>
        <li><p><i class="fa fa-circle"></i>  The platform and our services shall be used in good faith and not manipulating <strong class="bold-700 brand_title">CHECKCLIK</strong> or those who deals through it in any way.</p></li>
        <li><p><i class="fa fa-circle"></i>  It is forbidden to resell or commercially exploit any part of the website, or profiteering from this , except for activities permitted by us.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall notify us  in case of finding out any illegal practices or activities through the platform.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall maintain the reputation of the website, not to offend the website directly or indirectly, does not cause us direct or indirect damages, and does not cause us any legal claims.</p></li>
        <li><p><i class="fa fa-circle"></i>  The reviews and comments provided by the customer through the platform shall be honest and legal and do not include any infringement to <strong class="bold-700 brand_title">CHECKCLIK</strong>, companies or other entities.</p></li>
        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700 brand_title">CHECKCLIK</strong> reserves the right to make any modifications or changes to its platform and website and to policies and agreements associated with <strong class="bold-700 brand_title">CHECKCLIK</strong> including terms and conditions.</p></li>
        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700 brand_title">CHECKCLIK</strong> reserves all its legal rights in the case that any user of the website violates our legal, legitimate rights or our rights enshrined in this agreement.</p></li>


    </ul>

    <h3>9. Content Policy</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  The content is provided through <strong class="bold-700 brand_title">CHECKCLIK</strong> for information purposes only, and for the purposes of providing our services exclusively, and it should not be dedicated for any content, websites  or bodies that are not ours.</p></li>
        <li><p><i class="fa fa-circle"></i>  Texts, drawings, photographs, logos, illustrations, explanations, data and other materials provided by us on or through the services of <strong class="bold-700 brand_title">CHECKCLIK</strong> website in addition to its selection, compilation and arrangement that may contain errors, omissions, typographical errors or to be outdated, and the website may change, delete or update any content at any time without prior notice. You exempt us from any responsibility arising therefrom, and you also undertake to contact us to inquire and to request correction of any errors in the data.</p></li>
        <li><p><i class="fa fa-circle"></i>  Content that the seller provides through the website shall be legal and doesn’t include any infringe on the rights of others, including but not limited to all information, text, images, video, description, ads, offers, product listings, prices, logos and other content.</p></li>
        <li><p><i class="fa fa-circle"></i>  All images and content provided through the website shall be free of watermarks or any rights over them, and the images shall be of high quality and reflect the products displayed for sale.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller authorizes us to use the content provided by him through the website for the purposes of marketing and promoting the website's services, products and sellers. This authorization is irrevocable at any time only with the consent of the website, and this authorization does not mean the website's commitment to marketing and promotion operations but, it is discretionary under the website's internal policies.</p></li>
        <li><p><i class="fa fa-circle"></i>  The website has the right to put the name of <strong class="bold-700 brand_title">CHECKCLIK</strong>, the website URL, the logo of <strong class="bold-700 brand_title">CHECKCLIK</strong> and any other means of preserving rights on the content provided by the seller via the website.</p></li>
        <li><p><i class="fa fa-circle"></i>  In all cases, the seller is fully responsible for the content he provides through the website and for any legal claims arising from it, while releasing <strong class="bold-700 brand_title">CHECKCLIK</strong> from all legal liabilities, compensation, fines, and any other obligations.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall be bound to deliver the products within available data of the product through his online store on <strong class="bold-700 brand_title">CHECKCLIK</strong>. And therefore, if the product does not match, the customer has the right to request to return it in accordance with the return policy.</p></li>
        <li><p><i class="fa fa-circle"></i>  All the data available to other people through the website is provided at their own responsibility without any guarantees from the website.</p></li>
    </ul>

    <h3>10. Seller’s Obligations</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  In case of the seller being an entity, the execution, delivery and performance of this agreement by the seller has been duly authorized in accordance with the corporate procedures of the seller, no further corporate action on the part of the seller is necessary to authorize such execution, delivery and performance and the person signing this Agreement on behalf of the seller.</p></li>
        <li><p><i class="fa fa-circle"></i>  In the case of the seller being an individual, the seller has full authority, power and capacity to execute, deliver and perform this agreement.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller warrants that it exercises business according to the applicable laws and systems and that it has got all the licenses and permits necessary for the exercise of e- business and the entry with the customer into this agreement and the seller undertakes to keep all the documents referring thereto.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller warrants that it owns all the legal rights and authorities for selling the products and also it warrants that it has got all the permits necessary for selling the product.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller warrants not to publish any false or misleading information about its products and that the display of products has a commercial legality.</p></li>
        <li><p><i class="fa fa-circle"></i>  The display by the seller of the products shall be deemed to be an offer from the point of view and with which the sale contract of the product shall be concluded upon the acceptance by the customer of the sale conditions displayed by the seller and the availability of the product with the seller.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller warrants that all the information, images and the files of the products provided by the seller are true, precise and legal and are the products of the seller.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller warrants that there are no restrictions on the customer for getting the products or disposing of them in any form to third parties.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller warrants that there is no right of third parties connected with the products offered for sale via the website and that they are delivered to the customer free from any financial encumbrances and not connected with any personal or real rights.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller warrants that the products are delivered to the customer at the delivery date agreed upon between the two parties according to the specifications displayed on the selling page and delivery is done in a professional manner in accordance with the provisions of this agreement.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller warrants that it does its best to obtain the warranties from the companies that manufacture the products if any and it assigns hereunder the warranties to the customer within the permitted extent.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller warrants to keep the contact information of the customer and that it isn’t exploited in a way contrary to the privacy policy of <strong class="bold-700 brand_title">CHECKCLIK</strong>.</p></li>
    </ul>

    <h3>11. Product Policy</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  The products shall be legal and authorized to be sold according to the laws in force and the seller shall get the licenses for selling them. The products offered for sale via the website shall correspond to the legal stipulations imposed by the consumer protection laws.</p></li>
        <li><p><i class="fa fa-circle"></i>  It shall be prohibited to offer the imitated or stolen products or those for which the seller isn’t legally authorized to sell or those on which there are financial rights for third parties.</p></li>
        <li><p><i class="fa fa-circle"></i>  It shall be prohibited to offer the products which violate the intellectual property rights, commercial rights or rights of privacy of third parties.</p></li>
        <li><p><i class="fa fa-circle"></i>  It shall be prohibited to offer the alcoholic materials or drugs or the products which encourage gambling. Also, it shall be prohibited to offer weapons, ammunitions or products whose possession constitutes a criminal offence. In addition, it shall be prohibited to offer medicines or pills of drugs for sale via his store.</p></li>
        <li><p><i class="fa fa-circle"></i>  All the properties of the products shall be clarified on them as well as the method of using them, their validity, the product name, country of production and the use risks.</p></li>
        <li><p><i class="fa fa-circle"></i>  The products shall be in a good condition and valid for use as well as being not damaged, free from breaking or the apparent or latent defects.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller alone shall be liable for the illegality of the products he offers for sale via the website and he alone shall incur all the legal liability in case of the breach by these products of the terms of this policy or the provisions of the laws in force.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller alone shall incur liability for the invalidity of the products for use or their unfitness for performing the functions advertised. The seller alone shall incur the liability for any damages arising from the use of the products without any liability of <strong class="bold-700 brand_title">CHECKCLIK</strong>.</p></li>
        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700 brand_title">CHECKCLIK</strong> allows the sellers to make discounts in relation to their products after obtaining the consent of Ministry of Trade.</p></li>
    </ul>

    <h3>12. Advertising Terms</h3>
    <ul>
        <li><p>The website allows sellers to publish their ads through the website, and those ads shall meet the following terms and conditions.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall be bound to pay for the ad specified, knows and agrees that the amounts paid are non-refundable.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller knows and agrees that publishing the ad is subject to certain substantive and technical matters, and agrees to the specified dimensions of the image, its resolution and file type.</p></li>
        <li><p><i class="fa fa-circle"></i>  Ads shall be within the categories available through the website, and <strong class="bold-700 brand_title">CHECKCLIK</strong> has the right to move or delete any ads that are added in a section that is not intended for them, or delete any ads that are not compatible with the categories approved by us.</p></li>
        <li><p><i class="fa fa-circle"></i>  Ads should aim to promote the sale of goods and services that are provided in accordance with the terms and conditions of this agreement, and shall also meet all the requirements that are needed in the electronic commerce law and its implementing regulation.</p></li>
        <li><p><i class="fa fa-circle"></i>  It is prohibited to display ads aiming at raising funds, providing loans , political, cultural, social, religious, or other ads that are not compatible with the categories of ads permitted by <strong class="bold-700 brand_title">CHECKCLIK</strong> .</p></li>
        <li><p><i class="fa fa-circle"></i>  It is prohibited to display ads that promote illegal products or items, such as drugs of all kinds, weapons, munitions and stolen items, or whose sale is prohibited under resolutions issued by the competent authorities or judicial decisions or other items prohibited by law. It is also prohibited to promote immoral materials or that violate customs, traditions and values.</p></li>
        <li><p><i class="fa fa-circle"></i>  Advertising animals of all kinds is prohibited through the store, and <strong class="bold-700 brand_title">CHECKCLIK</strong> will delete any ads related to the promotion of animals.</p></li>
        <li><p><i class="fa fa-circle"></i>  It is prohibited to display ads that promote medicine of all kinds, whether they are local or imported, and whether they are allowed to be traded or not.</p></li>
        <li><p><i class="fa fa-circle"></i>  It is prohibited to display ads that use the identity, data, habits or information about famous persons without obtaining the express consent of these famous persons.</p></li>
        <li><p><i class="fa fa-circle"></i>  It is prohibited to display ads that are false, misleading, or that aim to fraud and deceit customers, or that are used as a means of conning the customers.</p></li>
        <li><p><i class="fa fa-circle"></i>  It is prohibited to publish ads that violate any rights of others, such as intellectual property rights, trademark rights, commercial confidentiality rights or privacy rights.</p></li>
        <li><p><i class="fa fa-circle"></i>  In all cases, the advertiser bears full legal responsibility in the event that the ad violates any rights of others or violates any of the applicable regulations.</p></li>
        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700 brand_title">CHECKCLIK</strong> website has the right to remove the ad for any reason it deems appropriate.</p></li>
    </ul>

    <h3>13. Advertising Data</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  The advertiser shall clearly advertise the things advertised, and in the event that the ad is ambiguous or the things advertised are unclear, the website in this case has the right to exclude the ad.</p></li>
        <li><p><i class="fa fa-circle"></i>  The ad shall include a product condition statement that provides an accurate description of the condition of the thing advertised, and it is required that all products displayed through the website are new and in good condition.</p></li>
        <li><p><i class="fa fa-circle"></i>  The advertiser creates the electronic ad through his control panel under the "Advertising Management" section, where he uploads the ad image and selects some preferences such as region, ad date, number of days for advertising, and others.</p></li>
        <li><p><i class="fa fa-circle"></i>  The ad title shall be clear and reflect the thing advertised and include a clear description of the thing being advertised, and it is prohibited to use misleading, false words or which intended to gather visitors around the ad without providing a real and clear meaning of the ad content.</p></li>
        <li><p><i class="fa fa-circle"></i>  The advertiser has the choice between adding a price in the ad or not adding a price in the ad, and in the event of adding a price in the ad, the advertiser shall abide by these prices with the customer according to the terms of the ad, which shall include the terms of application, duration, place, etc., and the advertiser is prohibited from changing the price after The customer communicates with him, or setting misleading prices in order to attract customers to communicate with him.</p></li>
        <li><p><i class="fa fa-circle"></i>  The images used in advertising the product shall reflect the product and conform to its condition, and it is prohibited to copy images from the Internet and publish them within the ads available through the website.</p></li>
        <li><p><i class="fa fa-circle"></i>  The ad shall be using appropriate phrases that do not include any offence to any products or services of others. Also, the ad shall not include any offence to any person, State or political phrases.</p></li>
        <li><p><i class="fa fa-circle"></i>  It is prohibited to include any logos or phrases of other entities in the ad with the aim of attracting, misleading and deceiving customers to achieve illegal purposes.</p></li>
        <li><p><i class="fa fa-circle"></i>  In all cases, the ad through the website is provided at the advertiser's responsibility, and the website will not bear any legal responsibility for the ad data provided by the advertiser, and the advertiser, in this case, is an information content provider relative to the data and content of the ad.</p></li>
    </ul>

    <h3>14. Offers Policy</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700 brand_title">CHECKCLIK</strong> allows the seller to provide offers and discounts through the website after obtaining official approvals from the competent authorities such as the Ministry of Commerce or any other competent authority.</p></li>
        <li><p><i class="fa fa-circle"></i>  Offers and discounts shall be for legal products and it is prohibited to provide offers for illegal, prohibited, expired or defective products.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall pay for the ad and acknowledge that the amounts are not refundable, and the seller cannot edit the ad after payment.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall provide the data of the product for which offers and discounts are available, and make the price of the product clear before and after the discount.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall make the duration of the offers and discounts clear, and whether they are limited to a specific period of time or are limited to a specific quantity.</p></li>
        <li><p><i class="fa fa-circle"></i>  In the event that the seller provides a range of products, he shall specify the products that are covered by the discount and the products that are not covered by the discount.</p></li>
        <li><p><i class="fa fa-circle"></i>  Products with offers and discounts are subject to the return policy according to the e-commerce law and it is prohibited to place phrases that prevent return.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller is prohibited to refrain from selling or delivering the products he has purchased during the period of offers and discounts to the customer.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller bears full legal responsibility if he misuses offers and discounts, fraud, deceives the customer, provides fake offers or discounts, or breach any other legal obligations.</p></li>
        <li><p><i class="fa fa-circle"></i>  The publication of offers and ads is subject to substantive and technical matters, including image dimensions, resolution, file type and the seller agrees to the offer information required.</p></li>
        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700 brand_title">CHECKCLIK</strong> has the right to remove the ad and offers at any time and for any reason it deems appropriate.</p></li>
    </ul>

    <h3>15. Selling to Customers Policy</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  Sellers promote their products available through the website through any electronic or physical means, provided that the products are ready for sale and available with the seller. If the quantity runs out or the seller is unable to provide the product, he shall remove the product from the offer.</p></li>
        <li><p><i class="fa fa-circle"></i>  The customer logs onto the website, browses the products available through it, submits a purchase order through the website, and pays with our approved payment methods.</p></li>
        <li><p><i class="fa fa-circle"></i>  The purchase order includes the customer's account data on the website, shipping and payment data, order number, product name, image, type, quantity, price and the total invoice.</p></li>
        <li><p><i class="fa fa-circle"></i>  The product is shipped to the customer by the shipping methods and mechanisms specified in our shipping policy, and the seller shall be committed to shipping the product or facilitating its delivery to the shipping company on time.</p></li>
        <li><p><i class="fa fa-circle"></i>  The website has the right to cancel the purchase orders submitted by the buyer if we are not able to verify any customer data or if we see that the order may cause any harm to us.</p></li>
        <li><p><i class="fa fa-circle"></i>  The website has the right to cancel the order in the event that the customer does not comply with any of our terms and conditions, or the customer address cannot be found, or he does not respond to the shipping rep or for any other reason we deem appropriate from our point of view.</p></li>
        <li><p><i class="fa fa-circle"></i>  The website is not responsible for any fraud in the marketing or promotion of products that the customer requests to purchase through the website, and the seller is fully responsible for such practices.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall be bound to deliver the product to the customer with all the specifications agreed upon and/or specified on the product page, and if the seller fulfils this obligation, he shall be bound not to provide any additional features or characteristics of the product not contained in the product page and not agreed upon.</p></li>
    </ul>

    <h3>16. Guarantees</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  The website does not guarantee that the seller will achieve a certain percentage of sales by displaying his products through <strong class="bold-700 brand_title">CHECKCLIK</strong> website, and this is subject to supply and demand, the seller's marketing policy, prices, offers and discounts he provides.</p></li>
        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700 brand_title">CHECKCLIK</strong> doesn’t guarantee the acts of customers to the seller, such as their obligation to receive the product in the event of choosing to pay upon receipt, or their commitment to the principle of good faith in financial transactions or in dealing with products when requesting the return, and the seller shall check all matters himself.</p></li>
        <li><p><i class="fa fa-circle"></i>  The website does not guarantee that <strong class="bold-700 brand_title">CHECKCLIK</strong> will continue to work at all times, and the site may discontinue for voluntary or involuntary reasons at any time. Therefore you may not be able to receive requests at any time.</p></li>
    </ul>

    <h3>17. Payment and Commissions Policy</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  The website provides the customer with the following payment methods (Visa, MasterCard, Mada Apple Pay, cash "payment upon receipt"). Also, the price provided by the seller shall include value-added tax to be collected with the amount of the order, except for sellers who are not subject to the value-added law or those who do not have a VAT certificate.</p></li>
        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700 brand_title">CHECKCLIK</strong> may request payment with particular payment methods for the purposes of checking the seriousness of payment or in some customer orders.</p></li>
        <li><p><i class="fa fa-circle"></i>  Payment types: <strong class="bold-700 brand_title">CHECKCLIK</strong> provides several types of payment in order to facilitate the seller’s financial transactions in line with the nature and needs of his business:</p></li>

        <li class="pl-4"><span>-</span><p>Pre-payment: is payment by Visa, MasterCard, Mada, or Apple Pay, so that the amount of the sale is deducted directly from the buyer's card and transferring the amount to <strong class="bold-700 brand_title">CHECKCLIK</strong> accounts before the purchases are shipped and delivered to the customer.</p></li>
        <li class="pl-4"><span>-</span><p>Post Payment is payment by Visa, MasterCard, Mada, or Apple Pay so that the sale amount is seized and attached from the buyer’s card. The amount is not transferred to <strong class="bold-700 brand_title">CHECKCLIK</strong> account until the buyer receives the goods and confirms their receipt. So that he provides the shipping and delivery company with the verification code to complete the process of transferring the amount to <strong class="bold-700 brand_title">CHECKCLIK</strong> account.</p></li>
        <li class="pl-4"><span>-</span><p>Cash payment is cash payment upon receipt, so that payment is made in cash when goods are delivered to the shipping or delivery company. The shipping and delivery company transfers the amounts to <strong class="bold-700 brand_title">CHECKCLIK</strong> account. After, that <strong class="bold-700 brand_title">CHECKCLIK</strong> transfers cash to the seller after deducting any dues to the shipping company, if any.</p></li>

        <li><p><i class="fa fa-circle"></i>  Administrative fees may be charged related to the use of the platform at any time, and we will clearly announce this on the platform.</p></li>
        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700 brand_title">CHECKCLIK</strong> does not receive commissions from purchases made between the customer and the seller but applies commissions belonging to some third parties on sales that have been made through payment methods approved by us.</p></li>
        <li><p><i class="fa fa-circle"></i>  The commissions deducted from the seller are as follows:</p></li>
        <li>
            <table class="table table-bordered mb-4">
                <thead>
                    <tr>
                        <th>Payment Method</th>
                        <th>Commission Rate</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Visa</td>
                        <td>2,25%</td>
                        <td>Is automatically deducted, and the amount is transferred automatically.</td>
                    </tr>
                    <tr>
                        <td>MasterCard</td>
                        <td>2,25%</td>
                        <td>Is automatically deducted, and the amount is transferred automatically.</td>
                    </tr>
                    <tr>
                        <td>Mada</td>
                        <td>1,50%</td>
                        <td>Is automatically deducted, and the amount is transferred automatically.</td>
                    </tr>
                    <tr>
                        <td>A fixed amount for each transaction</td>
                        <td>1 riyal</td>
                        <td>Is automatically deducted, and the amount is transferred automatically.</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-center bold-700">Total: 1 riyal + 2,25% or 1,50 "as the case may be"</td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li><p>These commissions are set by the payment service providers, and therefore they may be subject to change at any time, and the seller is committed to all updates on the rates of fees and commissions, and <strong class="bold-700 brand_title">CHECKCLIK</strong> has the right to deduct them directly before transferring funds to the seller.</p></li>

        <li><p><i class="fa fa-circle"></i>  In the event that the customer chooses payment upon receipt, in this case, the transaction is exempted from the electronic payment gateway commissions.</p></li>
        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700 brand_title">CHECKCLIK</strong> platform provides a financial settlement table that shows all the financial transactions of each seller and their status, and this table is a reference for the seller.</p></li>
        <li><p><i class="fa fa-circle"></i>  The platform deposits the amounts due to the sellers in their accounts that have been provided to us within a maximum period of 30 days from the date of delivery of the product to the customer.</p></li>
        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700 brand_title">CHECKCLIK</strong> deposits amounts of money in one bank account per seller, regardless of the number of his branches. And, the seller identifies this account in advance, then the seller makes his financial settlements according to his branches sales shown in the table.</p></li>
        <li><p><i class="fa fa-circle"></i>  The administration of the platform's website has the right to modify and update the payment and commission policy at any time we deem appropriate.</p></li>


    </ul>

    <h3>18. Shipping Policy</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  The service of shipping products to customers is provided in one of two ways:</p></li>
        <li class="pl-4"><span>-</span><p>First one: self-shipping that is provided by the seller. </p></li>
        <li class="pl-4"><span>-</span><p>Second one: shipping through approved logistical support companies inside the Kingdom of Saudi Arabia.</p></li>
        <li><p><i class="fa fa-circle"></i>  The customer bears the cost of shipping of the products specified by the shipping company, and this cost may vary from one shipping company to another. Also, this cost may be variable within one shipping company from time to time.</p></li>
        <li><p><i class="fa fa-circle"></i>  Shipping takes place within a period ranging from 7 to 14 days, provided that the seller shall be bound to prepare and process the order within 24 hours of receiving the purchase notice via the website.</p></li>
        <li><p><i class="fa fa-circle"></i>  Products are shipped and delivered to all cities inside the Kingdom of Saudi Arabia, provided that the places are authorized to be accessed, and shipping to restricted areas is prohibited.</p></li>
        <li><p><i class="fa fa-circle"></i>  All orders on vacations or official holidays are shipped on the nearest working day. Also, shipping doesn’t take in cases of security measures such as curfews, but it takes place when going out is allowed.</p></li>
        <li><p><i class="fa fa-circle"></i>  If the seller chooses self-shipping, then he cannot choose and provide cash payment method “payment upon receipt” to his customers, and this service is only available if he uses the logistic support companies provided by <strong class="bold-700 brand_title">CHECKCLIK</strong> platform.</p></li>
        <li><p><i class="fa fa-circle"></i>  The shipping rep of the seller shall be bound “if he provides shipping service” to treat the customer properly and with sufficient respect.</p></li>
    </ul>

    <h3>19. Return Policy</h3>
    <ul>
        <li><p><strong class="bold-700 brand_title">CHECKCLIK</strong> website provides a product return policy which traders registered on the website are committed to:</p></li>
        <li><p><i class="fa fa-circle"></i>  The customer has the right to request the return of the product within 7 - 14 days according to the seller's policy, on the condition that the product is in its condition upon receipt and not suffer any damage as a result of the customer's bad possession.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall set his own return policy, specify the period and should not be less than 7 days, and specify the terms of return, non-returnable products, and other conditions.</p></li>
        <li><p><i class="fa fa-circle"></i>  If the return is the result of a packing error, non-conformity or defects in the product, then the seller shall bear all return costs from the shipping process fees and electronic payment gateway fees.</p></li>
        <li><p><i class="fa fa-circle"></i>  If a return is resulting from the customer back out of purchase the product only without it being defective, the customer shall bear the return costs from shipping fees and electronic payment gateway fees.</p></li>
        <li><p><i class="fa fa-circle"></i>  In all cases, in the event that the amount is returned to the customer, one riyal will be deducted from the seller and calculated as a debt of the seller in favour of <strong class="bold-700 brand_title">CHECKCLIK</strong>, or it will be deducted from future remittances of the seller’s transactions. Also, we have the right to choose the appropriate method as we see fit, and this applies to the processes that have been made only through electronic payment methods.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall process the return request within a maximum period of ....... days from the date of receiving the product from the customer. Based on the review process, the customer will be notified of the cause of the defect and the product's returnability.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller bears full legal responsibility in the event of a breach of any of the customer's rights concerning the return process. And this process shall be carried out in accordance with the electronic commerce law and its implementing regulation.</p></li>
        <li><p><i class="fa fa-circle"></i>  In the event that the seller doesn’t oblige to establish his own return policy or he establishes a return policy that violates the applicable regulations, this policy will be excluded. And the applicable provisions of the electronic commerce law and its implementing regulation will be applied.</p></li>
        <li><p><i class="fa fa-circle"></i>  In the event that the customer requests a return, but the seller does not respond, procrastinates, or refuses for any unjustified reasons, and the customer contacted with <strong class="bold-700 brand_title">CHECKCLIK</strong>, we are going to provide a team specialized in checking these requests. <strong class="bold-700 brand_title">CHECKCLIK</strong> will check the return request submitted by the customer, then decides to return or refuse at our discretion . The seller knows and acknowledges the following provisions:</p></li>

        <li class="pl-4"><span>-</span><p>In the event that the return request is accepted, the application has the right to refund the amount to the customer while deducting it from the seller’s dues, and the seller doesn’t have the right to object to this decision. <strong class="bold-700 brand_title">CHECKCLIK</strong> has the right to collect the amount from any subsequent transactions of the seller or to claim against him in court.</p></li>
        <li class="pl-4"><span>-</span><p><strong class="bold-700 brand_title">CHECKCLIK</strong> shall be bound not to send a shipping company to receive the product from the customer and bear additional costs, and this means that <strong class="bold-700 brand_title">CHECKCLIK</strong> has the right to check the return request remotely. Also accepting the return request, in this case, means that the seller will lose the product once and for all.</p></li>
        <li class="pl-4"><span>-</span><p>If the return request is physically checked by the relevant section on <strong class="bold-700 brand_title">CHECKCLIK</strong> and the return request is accepted, the seller shall receive the product from <strong class="bold-700 brand_title">CHECKCLIK</strong> within 3 days at his own expense. If he does not do so, <strong class="bold-700 brand_title">CHECKCLIK</strong> has the right to dispose of the product in any way we deem appropriate, and this means the seller has lost the product one and for all.</p></li>

        <li><p><i class="fa fa-circle"></i>  In the event that the seller is late in delivering the product to the customer, and the customer submits a complaint to <strong class="bold-700 brand_title">CHECKCLIK</strong>, in this case, we will examine the situation, cancel the request, and return the amount to the customer again.</p></li>
        <li><p><i class="fa fa-circle"></i>  In all cases in which the cancellation of the request or the refund is due to the seller's fault, here the seller bears all costs associated with this process including transfer fees, payment gateway fees and any other costs.</p></li>
        <li><p><i class="fa fa-circle"></i>  This policy is complementary to the return policy that the seller sets in his relationship with the customer.</p></li>
    </ul>

    <h3>20. Warranty Policy</h3>
    <ul>
        <li>
            <p>The seller shall be bound to provide a warranty for his products according to each product. If the product is covered by the warranty, the seller shall clarify the warranty period, warranty centers and reasons not covered by the warranty. In all cases, the seller shall be bound to transfer all warranties provided by the manufacturing or production companies to the customer.</p>
        </li>
    </ul>

    <h3>21. Reviews Policy</h3>
    <ul>
        <li><p><strong class="bold-700 brand_title">CHECKCLIK</strong> website allows registered customers to add ratings and reviews on the products they purchase through the website, and you know and agree to the following:</p></li>
        <li><p><i class="fa fa-circle"></i>  The review belongs to the customers, is added by him, and <strong class="bold-700 brand_title">CHECKCLIK</strong> does not interfere in the reviews provided by the customer.</p></li>
        <li><p><i class="fa fa-circle"></i>  As long as the review provided by the customer does not include insult or slander phrases, <strong class="bold-700 brand_title">CHECKCLIK</strong> will not delete any negative review provided by the customer through the website, as the review expresses the customer's point of view and opinion in the product and the way the seller dealing with him.</p></li>
        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700 brand_title">CHECKCLIK</strong> is not responsible in any way for the reviews that the customer provides through the website, even if this leads to the customers' not dealing with the seller or their sales are reduced.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall continuously improve his services, as reviews reflect customers opinions about the services and products provided by the seller.</p></li>
        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700 brand_title">CHECKCLIK</strong> has the right to delete the accounts of sellers who receive frequent negative reviews to preserve the website's credibility.</p></li>
    </ul>

    <h3>22. Third Parties</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  The third parties may assist us in providing our services, and <strong class="bold-700 brand_title">CHECKCLIK</strong> release its legal responsibility for any direct or indirect, intentional or unintentional errors made by the third parties which provide services through the website.</p></li>
        <li><p><i class="fa fa-circle"></i>  Terms and conditions of third parties may be applied to the user, and these are not subject to our control and therefore the user shall access to and agree on these policies before benefiting from  the services provided by the third parties through us.</p></li>
    </ul>

    <h3>23. Intellectual Property Rights</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  The website and all its material and moral elements are privately owned by us, and it should not be imitated, copied or re-used in any way. All the contents of the website (content, lists, texts, images, video, symbols, numbers, letters, icons, buttons, music, data, information) is subject to legal protection under the laws of the Kingdom of Saudi Arabia and international conventions, and we have the right to take the legal actions in case of  attacks on it.</p></li>
        <li><p><i class="fa fa-circle"></i>  "<strong class="bold-700 brand_title">CHECKCLIK</strong>" is a trademark used by us and it should not be infringed, imitated, copied, traded illegally or used on marks or services that are not ours, and in case of an attack on that trademark, we have the right to take all the legal procedures that preserves all our commercial rights.</p></li>
    </ul>

    <h3>24. Legal Liability</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  Each seller is personally responsible for all the acts and activities he performs through the website. Also, the website is not jointly or subsidiary responsible with any of the sellers registered on <strong class="bold-700 brand_title">CHECKCLIK</strong>. The legal responsibility is based on personal fault only, and the seller is subsidiary and jointly responsible for his employees, subordinates, all the persons and entities he uses to implement or provide his services.</p></li>
        <li><p><i class="fa fa-circle"></i>  Each seller is personally responsible if he breaches any of his obligations under these terms and conditions, the privacy policy and any other applicable items or policies. The seller also bears legal responsibility in the event of a breach of any of our rights under these terms and conditions or attack on any of our rights or ownership of the website or any of its elements.</p></li>
        <li><p><i class="fa fa-circle"></i>  Each seller is personally responsible if he breaches the laws applicable in the Kingdom of Saudi Arabia and any country through which he uses the website. And the website will assist the investigating authorities and the competent judicial authorities if we are asked to do so.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller bears all legal responsibilities and compensation in the event of providing products that are illegal or violate the terms of this agreement.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller bears the legal responsibility in the event of carrying out illegal transactions without any responsibility on <strong class="bold-700 brand_title">CHECKCLIK</strong>.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall bear the legal responsibility in case of offending the website in any website, application, social media, email or through any other means.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall bear the legal responsibility in case of offending of any other person through the website, without original, subsidiary or joint responsibility on the website.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall be bound to compensate us for all the damages to the website as a result of any illegitimate or unauthorized use by the user or any of his followers.</p></li>
        <li><p><i class="fa fa-circle"></i>  The seller shall be bound to compensate us in case of offending us , the administration of the website, employees, partners, distributors, agents, our affiliates or any other person who belongs to <strong class="bold-700 brand_title">CHECKCLIK</strong> website.</p></li>
        <li><p><i class="fa fa-circle"></i>  In case of the breach by the seller of any of the conditions or provisions of this agreement, “<strong class="bold-700 brand_title">CHECKCLIK</strong>” shall be entitled to take an administrative action within the website. This action might be the suspension of membership for a time period or a permanent ban on the seller in breach. He shall not be entitled in this case to register in the website once more except with an express consent of “<strong class="bold-700 brand_title">CHECKCLIK</strong>”.</p></li>
        <li><p><i class="fa fa-circle"></i>  The penalties imposed by “<strong class="bold-700 brand_title">CHECKCLIK</strong>” on the sellers shall not affect adversely the right of each customer to take all the legal procedures he considers appropriate according to his discretion without having recourse against us and without the liability of the website.</p></li>
        <li><p><i class="fa fa-circle"></i>  We reserve all our legal rights arising from this Agreement at any time, and that not using the right at a specific time does not mean to waive it at all other times.</p></li>
    </ul>

    <h3>25. Disclaimer of Liability</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  The seller release us from the responsibility for all the illegitimate activities which are not our  and may occur through the website, the website cannot control all the actions carried through it, and the affected shall inform us to take the necessary actions towards stopping the source of the damage.</p></li>
        <li><p><i class="fa fa-circle"></i>  The website may discontinues from time to time and it may permanently discontinues, whether for voluntary or involuntary reasons, and therefore you exempt us from any legal responsibility in case of a permanent or temporary discontinuing  of the website or any of its services.</p></li>
        <li><p><i class="fa fa-circle"></i>  The website does not provide any type of insurance or compensations to any of its sellers, sellers or customers , and anyone who uses the website and its services at its own responsibility , and the website will not be  responsible to face any of the  sellers for any reason resulting from the use of the website or its services or apply our terms and policies.</p></li>
        <li><p><i class="fa fa-circle"></i>  The website is not responsible for any comments or content posted through it, or for any communications within or outside the website. Also the website is not responsible in any way for the processes of selling and buying made between the advertiser and the customer.</p></li>
        <li><p><i class="fa fa-circle"></i>  The website is not responsible for all the transactions that take place between the seller and the customer, and the role of <strong class="bold-700 brand_title">CHECKCLIK</strong> is limited only to linking the parties through the website.</p></li>
        <li><p><i class="fa fa-circle"></i>  The website is not responsible for all payments made outside the website, and the seller is fully responsible for them.</p></li>
    </ul>

    <h3>26. Communications and Notifications</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  The website communicates with you from time to time through the contact details you have provided to us, and under this agreement you authorize us to communicate with you online or by telephone, and in case you do not want to receive  communication from us you shall notify us and we will immediately discontinue to communicate with you, but this means that our services for you may be permanently discontinue.</p></li>
        <li><p><i class="fa fa-circle"></i>  Any notifications the <strong class="bold-700 brand_title">CHECKCLIK</strong> wants to notify the sellers with are made through their own contact details, and the seller is supposed to know about with the notification once <strong class="bold-700 brand_title">CHECKCLIK</strong> sends it to him. In case that the seller wants to send us notifications, this shall be done through our means of communication available through the website's pages.</p></li>
    </ul>

    <h3>27. Amendments and Additions</h3>
    <ul>
        <li><p><i class="fa fa-circle"></i>  You know and agree that our services may be continuously amended or updated, and our terms, conditions and privacy policy may be amended, updated or added from time to time. <strong class="bold-700 brand_title">CHECKCLIK</strong> will notify the seller in an appropriate manner.</p></li>
        <li><p><i class="fa fa-circle"></i>  <strong class="bold-700 brand_title">CHECKCLIK</strong> has the right to make modifications without referring to the seller or obtaining his consent, and in the event that the seller does not agree to the updates and modifications, he shall immediately stop using <strong class="bold-700 brand_title">CHECKCLIK</strong>.</p></li>
    </ul>

    <h3>28. Cancellation</h3>
    <ul>
        <li><p><strong class="bold-700 brand_title">CHECKCLIK</strong> has the right to cancel any of the services available through it, adjust the website completely, change it  or change its activity. We also have the right to cancel the terms, conditions and privacy policy or replace them at any time without requiring your consent.</p></li>
    </ul>

    <h3>29. Law</h3>
    <ul>
        <li><p>The interpretation and implementation of the  items of this document is subject to the regulations applicable in the Kingdom of Saudi Arabia, and these terms are not limited to the items contained in it , but extend to include all the legal provisions regulating civil and commercial relations applicable in the Kingdom of Saudi Arabia so far as they were a complementary rules and do not directly or indirectly conflict with the items of this document.</p></li>
    </ul>

    <h3>30. Jurisdiction</h3>
    <ul>
        <li><p>The Saudi judiciary shall adjudicate disputes arising about the interpretation or implementation of any item of this document, and in case that any item is excluded by a judicial decision, this is without prejudice to the competence of other items and that the items remain valid and productive for its legal effects unless <strong class="bold-700 brand_title">CHECKCLIK</strong> cancels the agreement.</p></li>
    </ul>

    <h3>31. Arabic Language</h3>
    <ul>
        <li><p>The language of the document is Arabic, and if it is translated into any other language, the Arabic text is applicable before all the official and unofficial bodies if the foreign translation conflicts with it.</p></li>
    </ul>
    <h3>32. Contact Us</h3>
    <ul>
        <li><p>You can contact us through:</p></li>
        <li><p><i class="fa fa-circle"></i>  Email: care@checkclik.com</p></li>
        <li><p><i class="fa fa-circle"></i>  Call us on the number: 920033980 </p></li>
    </ul>



</div>
