@using CheckClickClient
@{
    ViewBag.Title = "CHECKCLIK | Change Password";
    Layout = "~/Views/Shared/_LayoutNew_Profile.cshtml";
}
    <link href="~/web-assets/css/bootstrap-fileinput.css" rel="stylesheet" />

    <style>
        .user-img, .user-menu, .user-details {
            background-color: #fff;
            padding: 15px;
            margin-bottom: 15px;
            -webkit-box-shadow: 0 0 10px #ccc;
            box-shadow: 0 0 10px #ccc;
        }

            .user-img img {
                width: 60px;
                height: 60px;
                object-fit: cover;
                border-radius: 50%;
                cursor: pointer;
            }

            .user-img .image-upload > input {
                display: none;
            }

            .user-menu ul li a {
                display: block;
                font-size: 15px;
                padding: 10px 0 0;
                font-weight: 500
            }

                .user-menu ul li a:hover {
                    color: #d06e67
                }

                .user-menu ul li a i {
                    width: 30px;
                    color: #666666;
                }

            .user-menu hr {
                margin-top: 15px;
                margin-bottom: 15px;
            }

            .user-details .form-wrapper {
                max-width: none;
                margin: inherit;
                box-shadow: none;
                background: #fff;
            }

                .user-details .form-wrapper a small {
                    font-size: 14px;
                    color: #666666;
                }

                .user-details .form-wrapper input {
                    background: #fff;
                }
                    button.submit, button[type='button'] {
        font-size: 16px;
        font-weight: 500;
        padding: 15px 40px;
        color: #ffffff;
        border: none;
        background-color: #3BB77E;
        border: 1px solid #29A56C;
        border-radius: 10px;
    }
                 
    </style> 
    @{
    var user = AppUtils.UserLogin;
}


<div class="page-content pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dashboard-menu">
                            <ul class="nav flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link " id="dashboard-tab" href="/user/MyProfileNest" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " id="orders-tab" href="/myorders/indexnest" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>My Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="track-orders-tab"  href="~/wishlist"  aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Wishlist</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="address-tab" href="~/user/manageAddressNest"  aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>Manage Account</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="account-detail-tab" href="~/user/changePasswordNest" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Change Password</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("logout", "user")"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content account dashboard-content pl-50">

                            <div class="same-block-height">
                                <h3>CHANGE PASSWORD</h3>
                                <hr />
                                <form role="form" class="form-wrapper">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Old Password</label>
                                                <input type="password" class="form-control" id="txtOldPassword" />
                                                <span id='ErrOldPassword' class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>New Password</label>
                                                <input type="password" class="form-control" id="txtNewPassword" />
                                                <span id='ErrNewPassword' class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Confirm Password</label>
                                                <input type="password" class="form-control" id="txtConfirmNewPassword" />
                                                <span id='ErrConfirmNewPassword' class="text-danger"></span>
                                            </div>
                                        </div>
                                        <span id="fotpError" class="text-danger"></span>
                                        <div class="col-sm-12"> 
                                            <div class="button-panel mt-5">
                                                <button type="button" id="btnsubmit" value="Update" onclick="ChangePassword()" class="button form-control pt-3"><strong>Update</strong></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<section class="profile">
    <div class="container">
        <div class="row d-flex">
            <div class="col-sm-4">
                <div class="same-block-height">
                    <div class="user-img">
                        <div class="image-upload">
                            <label for="file-input">
                                @if (user.UserProfile != null)
                                {
                                    <img id="imgProfile" src="@user.UserProfile" />
                                }
                                else
                                {
                                    <img id="imgProfile" src="~/web-assets/images/user-profile.png" />
                                }

                            </label> 

                            <span class="pl-8 ">@user.UserName</span>
                        </div>
                    </div>
                    <div class="user-menu">
                        <ul>
                            <li><a href="~/user/myProfile"><i class="fas fa-user"></i> Profile</a></li>
                            <hr />
                            <li><a href="~/myorders"><i class="fas fa-box-open"></i> My Orders</a></li>
                            <hr />
                            <li><a href="~/wishlist"><i class="fas fa-heart"></i> Wishlist</a></li>
                            <hr />
                            <li><a href="~/user/manageAddress"><i class="fas fa-address-book"></i> Manage Account</a></li>
                            <hr />
                            <li><a href="~/user/changePassword"><i class="fas fa-sync-alt"></i> Change Password</a></li>
                            <hr />
                             
                            <li><a href="@Url.Action("logout", "user")"><i class="fas fa-power-off"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 user-details">
                <div class="same-block-height">
                    <h3>CHANGE PASSWORD</h3>
                    <hr />
                    <form role="form" class="form-wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Old Password</label>
                                    <input type="password" class="form-control" id="txtOldPassword" />
                                    <span id='ErrOldPassword' class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" class="form-control" id="txtNewPassword" />
                                    <span id='ErrNewPassword' class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control" id="txtConfirmNewPassword" />
                                    <span id='ErrConfirmNewPassword' class="text-danger"></span>
                                </div>
                            </div>
                            <span id="fotpError" class="text-danger"></span> 
                            <div class="col-sm-12">
                                <div class="button-panel mt-5">
                                    <button type="button" id="btnsubmit" value="Update" onclick="ChangePassword()" class="button form-control pt-3"><strong>Update</strong></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>*@








<section class="profile d-none">
    <div class="container">
        <div class="row"> 
            <div class="col-sm-offset-1 col-sm-5">  
                <form role="form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Old Password</label>
                                <input type="password" class="form-control" id="txtOldPassword" />
                                <span id='ErrOldPassword' class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control" id="txtNewPassword" />
                                <span id='ErrNewPassword' class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" id="txtConfirmNewPassword" />
                                <span id='ErrConfirmNewPassword' class="text-danger"></span>
                            </div>
                        </div>
                        <span id="fotpError" class="text-danger"></span>
                        @*<div class="col-sm-6"></div>*@
                        <div class="col-sm-12">
                            <div class="form-group">
                                <button type="button" id="btnsubmit" class="btn btn-primary form-control" onclick="ChangePassword()">Update</button>
                                @*onclick="ChangePassword()"*@
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

    <script src="~/web-assets/js/bootstrap-fileinput.js"></script>
    <script>
        var loadFile = function (event) {
            var output = document.getElementById('imgProfile');
            output.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
    <script>
        $(document).ready(function () {
            $("#txtOldPassword").blur(function () {
                // debugger;
                var val = $(this).val();
                $("#ErrOldPassword").text(val == "" ? "Old Password Required" : "");
            });
            $("#txtNewPassword").blur(function () {
                // debugger;
                var val = $(this).val();
                $("#ErrNewPassword").text(val == "" ? "New Password Required" : "");
            }); 
            $("#txtConfirmNewPassword").blur(function () {
                // debugger;
                var val = $(this).val();
                $("#ErrConfirmNewPassword").text(val == "" ? "Confirm Password Required" : "");
                if ($('#txtNewPassword').val() != $('#txtConfirmNewPassword').val() && $("#txtConfirmNewPassword").val() != '') {
                    $('#ErrConfirmNewPassword').html('Password Not Matching').addClass("text-danger");
                    return
                }
            });
        });
    </script>


    <script>
        function ChangePassword() { 
            if ($("#txtOldPassword").val() == '') {
                $('#ErrOldPassword').html('Required');
                return
            }
            if ($("#txtNewPassword").val() == '') {
                $('#ErrNewPassword').html('Required').addClass("text-danger");
            }
            if ($("#txtConfirmNewPassword").val() == '') {
                $('#ErrConfirmNewPassword').html('Required');
                return
            }
            if ($('#txtNewPassword').val() == $('#txtConfirmNewPassword').val()) {
                $('#fmessage').html('').css('color', 'green');
            }
            if ($('#txtNewPassword').val() != $('#txtConfirmNewPassword').val() && $("#txtConfirmNewPassword").val() != '') {
                $('#ErrConfirmNewPassword').html('Password Not Matching').addClass("text-danger");
                return
            }
            // debugger;
            var Password = $("#txtOldPassword").val();
            var NewPassword = $("#txtNewPassword").val();
            var userDetails = { 'Password': Password, 'NewPassword': NewPassword };
            var stringData = JSON.stringify(userDetails)
            // debugger

            $.ajax({
                url: '/User/ChangePassword',
                /**/
                type: 'Post',
                datatype: 'json',
                data: { UserData: stringData },
                success: function (data) {
                    // debugger;
                    var countDownDate = data.status;
                    if (!countDownDate) {
                        //alert(data.message)
                        $('#fotpError').html(data.message).addClass("text-danger");
                        return
                    }
                    else {
                    $('#fotpError').html(data.message).addClass("text-success");;
                        swal({
                            title: "Success",
                            text: "Password Updated Successfully !",
                            icon: "success",
                            //button: "OK!",
                            buttons: {
                                button: "Ok!",
                            },
                        })
                            .then((value) => {
                                window.location.href = "/Home/NIndex";
                            });
                    }
                },
                error: function () {
                    alert("Something went wrong, try after sometime.")
                }
            });
            //}
        }
    </script>